@{
    ViewBag.Title = "跨境电商综合实训平台";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["nvc"] = "排名管理";
}
<link href="~/CSS/Public_img.css" rel="stylesheet" />

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li>
                <h2>考试管理</h2>
            </li>
            <li>
                <a href="/Admin/ExamineRank">排名管理</a>
            </li>
            <li>
                <strong>考核信息</strong>
            </li>
        </ol>

    </div>
</div>
<div class="ibox-content">



    <form class="form-horizontal" id="form-horizontalid">
        <input type="text" hidden="hidden" id="ModeId" name="ModeId" value="@Request["ModeId"]" />
        <input type="text" hidden="hidden" id="eid" name="eid" value="@Request["eid"]" />
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label"><span class="text-danger"></span>考核名称：</label>
            <label for="inputEmail3" class="control-label" id="e_name"></label>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label"><span class="text-danger"></span>开始时间：</label>
            <label for="inputEmail3" class="control-label" id="start_time"></label>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label"><span class="text-danger"></span>结束时间：</label>
            <label for="inputEmail3" class="control-label" id="end_time"></label>
        </div>


        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label"><span class="text-danger"></span>试卷总分：</label>
            <label for="inputEmail3" class="control-label" id="score"></label>

        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label"><span class="text-danger"></span>及格分数：</label>
            <label for="inputEmail3" class="control-label" id="pass_src"></label>
        </div>
        @*<div class="form-group">

            <label for="inputEmail3" class="col-sm-2 control-label">对应能力及分数：</label>
            <label for="inputEmail3" class="control-label" id="AbilityandScore"></label>
        </div>*@
        <div class="form-group">

            <label for="inputEmail3" class="col-sm-2 control-label">及格人数：</label>
            <label for="inputEmail3" class="control-label" id="pass_p"></label>
        </div>
        <div class="form-group">

            <label for="inputEmail3" class="col-sm-2 control-label">及格率：</label>
            <label for="inputEmail3" class="control-label" id="pass_rate"></label>
        </div>
        <div class="form-group">

            <label for="inputEmail3" class="col-sm-2 control-label">最高分：</label>
            <label for="inputEmail3" class="control-label" id="max_src"></label>
        </div>
        <div class="text-center m-t-md">

            <div class="form-group">
                <a href="/Admin/ExamineRank/EditRank?id=@Request["ModeId"]" class="btn btn-w-m btn-primary m-r-lg">返回</a>
              
            </div>
        </div>
    </form>
</div>
<script src="~/Js/Admin/ExamineRank/Examinfo.js"></script>
