
<link href="~/CSS/jquery.treegrid.css" rel="stylesheet" />
<link href="~/CSS/bootstrap-table.min.css" rel="stylesheet" />

<!--企业网银客户签约管理[企业用户设置]-->
<div class="divider divider-horizontal"><div class="divider-text is-left"><strong>修改用户</strong></div></div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_userNumber" name="lbl_userNumber" for="inputEmail3" class="col-sm-3 control-label">用户编号</label>
            <div class="col-sm-6">
                <input vl-default="" id="txt_userNumber" name="txt_userNumber" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_certificateKind" name="lbl_certificateKind" for="inputEmail3" class="col-sm-3 control-label">证件类型</label>
            <div class="col-sm-6">
                <select vl-default="" id="sle_certificateKind" name="sle_certificateKind" class="form-control"></select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_certificateCode" name="lbl_certificateCode" for="inputEmail3" class="col-sm-3 control-label">证件号码</label>
            <div class="col-sm-6">
                <input vl-default="" id="txt_certificateCode" name="txt_certificateCode" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_customerName" name="lbl_customerName" for="inputEmail3" class="col-sm-3 control-label">客户姓名</label>
            <div class="col-sm-6">
                <input vl-default="" id="txt_customerName" name="txt_customerName" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <div class="col-sm-6 col-lg-offset-2">
                <div class="checkbox">
                    <label>
                        <input vl-default="" type="checkbox" id="openBank"> 开通手机银行
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_mobile" name="lbl_mobile" for="inputEmail3" class="col-sm-3 control-label">手机号</label>
            <div class="col-sm-6">
                <input vl-default="" id="txt_mobile" name="txt_mobile" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
</div>
<div class="divider divider-horizontal"><div class="divider-text is-left"><strong>可操作的账号</strong></div></div>
<table class="table table-hover" id="tbl"></table>
<div id="DivTabValue" style="display:none;">
    <div class="divider divider-horizontal"><div class="divider-text is-left"><strong>可操作的账号反显值</strong></div></div>
<textarea rows="5" id="tb1Value" name="tb1Value" style="width:100%;"></textarea>
</div>
<table class="table table-hover" id="tbl1"></table>

<script src="~/Scripts/jquery.treegrid.min.js"></script>
<script src="~/Scripts/bootstrap-table.min.js"></script>
<script src="~/Scripts/bootstrap-table-treegrid.min.js"></script>

<script>
    setOptions(['certificateKind']);
    var data = [];
    function setTableValue(values) {
        var vals = values.split('\n');
        data = [{
            'account': vals[0]
        }];
        $("#tbl").bootstrapTable('load', data);
    }
    $('#tbl').bootstrapTable({
        data: data,
        columns: [
            {
                checkbox: true,
                align: 'center',
            },
            {
                title: '账号',
                field: 'account',
                align: 'center'
            },
        ]
    });
    $('#tbl1').bootstrapTable({
        data: options.menus,
        idField: 'id',
        treeShowField: 'name',
        parentIdField: 'pid',
        columns: [
            {
                checkbox: true,
                align: 'center',
            },
            {
                title: '选择开通的业务',
                field: 'name',
            },
        ],
        onPostBody: function () {
            var columns = $('#tbl1').bootstrapTable('getOptions').columns

            if (columns && columns[0][1].visible) {
                $('#tbl1').treegrid({
                    treeColumn: 1,
                    onChange: function () {
                        $('#tbl1').bootstrapTable('resetView')
                    }
                })
            }
        }
    });
    function doSubmit() {
        goPage("200007");
    }
</script>
