
<!--单位保证金(委贷资金)开户-->
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_productType" name="lbl_productType" for="inputEmail3" class="col-sm-3 control-label">产品类型</label>
            <div class="col-sm-6">
                <select vl-default="" id="sle_productType" name="sle_productType" class="form-control"></select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_generationMethod" name="lbl_generationMethod" for="inputEmail3" class="col-sm-3 control-label">账号生成方式</label>
            <div class="col-sm-6">
                <select vl-default="" id="sle_generationMethod" name="sle_generationMethod" class="form-control"></select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_settlementAccount" name="lbl_settlementAccount" for="inputEmail3" class="col-sm-3 control-label">结算账号</label>
            <div class="col-sm-6">
                <input vl-default="" id="txt_settlementAccount" name="txt_settlementAccount" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_customerNumber" name="lbl_customerNumber" for="inputEmail3" class="col-sm-3 control-label">客户编号</label>
            <div class="col-sm-6">
                <input vl-default="" id="txt_customerNumber" name="txt_customerNumber" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_settlementName" name="lbl_settlementName" for="inputEmail3" class="col-sm-3 control-label">结算账户名称</label>
            <div class="col-sm-6">
                <input vl-default="" id="txt_settlementName" name="txt_settlementName" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_certificateType" name="lbl_certificateType" for="inputEmail3" class="col-sm-3 control-label">证件种类</label>
            <div class="col-sm-6">
                <select vl-default="" id="sle_certificateType" name="sle_certificateType" class="form-control"></select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_idCode" name="lbl_idCode" for="inputEmail3" class="col-sm-3 control-label">证件号码</label>
            <div class="col-sm-6">
                <input vl-default="" id="txt_idCode" name="txt_idCode" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_accountName" name="lbl_accountName" for="inputEmail3" class="col-sm-3 control-label">户名</label>
            <div class="col-sm-6">
                <input vl-default="" id="txt_accountName" name="txt_accountName" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_productName2" name="lbl_productName2" for="inputEmail3" class="col-sm-3 control-label">产品名称</label>
            <div class="col-sm-6">
                <select vl-default="" id="sle_productName2" name="sle_productName2" class="form-control"></select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_currency" name="lbl_currency" for="inputEmail3" class="col-sm-3 control-label">币种钞汇</label>
            <div class="col-sm-8" style="display: flex;">
                <div><select vl-default="" id="sle_currency" name="sle_currency" class="form-control"></select></div>
                <div><select vl-default="" id="sle_remittance" name="sle_remittance" class="form-control"></select></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_accountNature" name="lbl_accountNature" for="inputEmail3" class="col-sm-3 control-label">账户性质</label>
            <div class="col-sm-6">
                <select vl-default="" id="sle_accountNature" name="sle_accountNature" class="form-control"></select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_withdrawalMethod" name="lbl_withdrawalMethod" for="inputEmail3" class="col-sm-3 control-label">支取方式</label>
            <div class="col-sm-6">
                <select vl-default="" id="sle_withdrawalMethod" name="sle_withdrawalMethod" class="form-control">
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_storageRange" name="lbl_storageRange" for="inputEmail3" class="col-sm-3 control-label">通存范围</label>
            <div class="col-sm-6">
                <select vl-default="" id="sle_storageRange" name="sle_storageRange" class="form-control">
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_exchange" name="lbl_exchange" for="inputEmail3" class="col-sm-3 control-label">通兑范围</label>
            <div class="col-sm-6">
                <select vl-default="" id="sle_exchange" name="sle_exchange" class="form-control">
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_interestMark" name="lbl_interestMark" for="inputEmail3" class="col-sm-3 control-label">计息标志</label>
            <div class="col-sm-6">
                <select vl-default="" id="sle_interestMark" name="sle_interestMark" class="form-control"></select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_collectionAccount" name="lbl_collectionAccount" for="inputEmail3" class="col-sm-3 control-label">收息账号</label>
            <div class="col-sm-6">
                <input vl-default="" id="txt_collectionAccount" name="txt_collectionAccount" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_collectionName" name="lbl_collectionName" for="inputEmail3" class="col-sm-3 control-label">收息户名</label>
            <div class="col-sm-6">
                <input vl-default="" id="txt_collectionName" name="txt_collectionName" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_rateType" name="lbl_rateType" for="inputEmail3" class="col-sm-3 control-label">利率类型</label>
            <div class="col-sm-6">
                <select vl-default="" id="sle_rateType" name="sle_rateType" class="form-control"></select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_rate" name="lbl_rate" for="inputEmail3" class="col-sm-3 control-label">利率(%)</label>
            <div class="col-sm-6">
                <input vl-default="" id="txt_rate" name="lbl_rate" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_manager" name="lbl_rate" for="inputEmail3" class="col-sm-3 control-label">客户经理</label>
            <div class="col-sm-6">
                <input vl-default="" id="txt_manager" name="txt_manager" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_depositRatio" name="lbl_depositRatio" for="inputEmail3" class="col-sm-3 control-label">揽存比例(%)</label>
            <div class="col-sm-6">
                <input vl-default="" id="txt_depositRatio" name="txt_depositRatio" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_account" name="lbl_account" for="inputEmail3" class="col-sm-3 control-label">账号</label>
            <div class="col-sm-6">
                <input vl-default="" id="txt_account" name="txt_account" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
</div>
<script>
    setOptions(['certificateType', 'productName2', 'exchange', 'storageRange', 'rateType', 'productType', 'interestMark', 'withdrawalMethod', 'generationMethod', 'accountNature', 'currency', 'remittance']);
    function doSubmit() {
        checkEmpowe();
    }
</script>
