@{
    ViewBag.Title = "Form_120219";
    Layout = "~/Views/Shared/_AdminLayoutIsNull.cshtml";
}


<script src="~/Js/Admin/AdminForm.js"></script>
<script src="~/Js/Admin/CaseManagement/AddDefaultValue.js"></script>
<link href="~/CSS/danju/css/menupublic.css" rel="stylesheet" />
<style type="text/css">
    .from_map_yyzz {
        width: 1100px;
        margin: auto;
        margin-top: 20px;
        position: relative;
        background: url(/CSS/danju/img/danjuimg/menu_yyzz.jpg) no-repeat top;
        width: 1100px;
        height: 1700px;
    }

    .site1 {
        width: 240px;
        height: 30px;
        left: 765px;
        top: 460px;
    }


    .site2 {
        width: 600px;
        height: 40px;
        left: 390px;
        top: 565px;
    }

    .site3 {
        width: 600px;
        height: 40px;
        left: 390px;
        top: 635px;
    }

    .site4 {
        width: 600px;
        height: 40px;
        left: 390px;
        top: 705px;
    }


    .site5 {
        width: 600px;
        height: 40px;
        left: 390px;
        top: 810px;
    }

    .site6 {
        width: 600px;
        height: 40px;
        left: 390px;
        top: 875px;
    }

    .site7 {
        width: 70px;
        height: 40px;
        left: 705px;
        top: 1450px;
    }

    .site8 {
        width: 40px;
        height: 40px;
        left: 820px;
        top: 1450px;
    }

    .site9 {
        width: 40px;
        height: 40px;
        left: 893px;
        top: 1450px;
    }
</style>


<form id="form1" onsubmit="return false" action="##" method="post">
    <input type="hidden" id="TaskId" name="TaskId" value="@Request["TaskId"]" />
    <input type="hidden" id="CustomerId" name="CustomerId" value="@Request["CustomerId"]" />
    <input type="hidden" id="FormId" name="FormId" value="@Request["FormId"]" />
    <input type="hidden" id="Types" name="Types" value="@Request["Types"]" />
    <!--内容表单区域开始-->
    <div class="from_map_yyzz">
        <input class="inputall site1" type="text" name="dy01" id="dy01" value="" />
        <input class="inputall site2" type="text" name="dy02" id="dy02" value="" />
        <input class="inputall site3" type="text" name="dy03" id="dy03" value="" />
        <input class="inputall site4" type="text" name="dy04" id="dy04" value="" />
        <input class="inputall site5" type="text" name="dy05" id="dy05" value="" />
        <input class="inputall site6" type="text" name="dy06" id="dy06" value="" />
        <input class="inputall site7 text_center" maxlength="4" type="text" name="dy07" id="dy07" value="" />
        <input class="inputall site8 text_center" maxlength="2" type="text" name="dy08" id="dy08" value="" />
        <input class="inputall site9 text_center" maxlength="2" type="text" name="dy09" id="dy09" value="" />

        <button class="btn_chongzhi" type="button" value="重置" onclick="FormReset()">重置</button>
        <button class="btn_tijiao" type="button" value="提交" onclick="SubmitForm()">提交</button>

    </div>


</form>
