<!--账户开立-->
<div class="container-wrap">
    <div class="pull-left">
        <img src="/img/card.png" style="width:250px;height:150px;" alt="">
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label id="lbl_productName1" name="lbl_productName" for="inputEmail3" class="col-sm-3 control-label">产品名称</label>
                <div class="col-sm-6">
                    <select vl-default="" id="sle_productName1" name="sle_productName1" class="form-control">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label id="lbl_cardType" name="lbl_cardType" for="inputEmail3" class="col-sm-3 control-label">卡片类型</label>
                <div class="col-sm-6">
                    <select vl-default="" id="sle_cardType" name="sle_cardType" class="form-control">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label id="lbl_cardNumer" name="lbl_cardNumer" for="inputEmail3" class="col-sm-3 control-label">卡号</label>
                <div class="col-sm-6">
                    <input vl-default="" id="txt_cardType" name="txt_cardType" type="text" class="form-control input-sm">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label id="lbl_accountGrade" name="lbl_accountGrade" for="inputEmail3" class="col-sm-3 control-label">账户等级</label>
                <div class="col-sm-6">
                    <select vl-default="" id="sle_accountGrade" name="sle_accountGrade" class="form-control">
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label id="lbl_currency" name="lbl_currency" for="inputEmail3" class="col-sm-3 control-label">币种钞汇</label>
                <div class="col-sm-8" style="display: flex;">
                    <div><select vl-default="" id="sle_currency" name="sle_currency" class="form-control"></select></div>
                    <div><select vl-default="" id="sle_remittance" name="sle_remittance" class="form-control"></select></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label id="lbl_depositAmount" name="lbl_depositAmount" for="inputEmail3" class="col-sm-3 control-label">存入金额</label>
                <div class="col-sm-6">
                    <input vl-default="" id="txt_depositAmount" name="txt_depositAmount" type="text" class="form-control input-sm">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label id="lbl_transactionCategory" name="lbl_transactionCategory" for="inputEmail3" class="col-sm-3 control-label">交易类别</label>
                <div class="col-sm-6">
                    <select vl-default="" id="sle_transactionCategory" name="sle_transactionCategory" class="form-control">
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label id="lbl_cashReceived" name="lbl_cashReceived" for="inputEmail3" class="col-sm-3 control-label">实收现金</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control input-sm" id="txt_cashReceived" name="txt_cashReceived">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_rateType" name="lbl_rateType" for="inputEmail3" class="col-sm-3 control-label">利率类型</label>
            <div class="col-sm-6">
                <select vl-default="" id="sle_rateType" name="sle_rateType" class="form-control">
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_rate" name="lbl_rate" for="inputEmail3" class="col-sm-3 control-label">利率(%)</label>
            <div class="col-sm-6">
                <input vl-default="" id="txt_rate" name="txt_rate" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label id="lbl_passwprd" name="lbl_passwprd" for="inputEmail3" class="col-sm-3 control-label">密码</label>
                <div class="col-sm-6">
                    <input vl-default="" id="pwd_passwprd" name="pwd_passwprd" for="inputEmail3" type="password" class="form-control input-sm">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 card2">
            <div class="form-group">
                <label id="lbl_bindingCode" name="lbl_bindingCode" for="inputEmail3" class="col-sm-3 control-label">绑定账(卡)号</label>
                <div class="col-sm-6">
                    <input vl-default="" id="txt_bindingCode" name="txt_bindingCode" type="text" class="form-control input-sm">
                </div>
            </div>
        </div>
        <div class="col-md-6 card2">
            <div class="form-group">
                <label id="lbl_bindingPassword" name="lbl_bindingPassword" for="inputEmail3" class="col-sm-3 control-label">绑定账户密码</label>
                <div class="col-sm-6">
                    <input vl-default="" id="txt_bindingPassword" name="txt_bindingPassword" type="text" class="form-control input-sm">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label id="lbl_abstract" name="lbl_abstract" for="inputEmail3" class="col-sm-3 control-label">摘要</label>
                <div class="col-sm-6">
                    <select vl-default="" id="sle_abstract" name="sle_abstract" class="form-control">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label id="lbl_remarks" name="lbl_remarks" for="inputEmail3" class="col-sm-3 control-label">备注</label>
                <div class="col-sm-6">
                    <input vl-default="" id="txt_remarks" name="txt_remarks" type="text" class="form-control input-sm">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label id="lbl_manager" name="lbl_manager" for="inputEmail3" class="col-sm-3 control-label">客户经理</label>
                <div class="col-sm-7">
                    <input vl-default="" id="txt_manager" name="txt_manager" type="text" class="form-control input-sm" style="width: 146px;display: inline-block;">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label id="lbl_depositRatio" name="lbl_depositRatio" for="inputEmail3" class="col-sm-3 control-label">揽存比例(%)</label>
                <div class="col-sm-6">
                    <input vl-default="" id="txt_depositRatio" name="txt_depositRatio" type="text" class="form-control input-sm">
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        setOptions(['transactionCategory', 'abstract', 'cashItems', 'cardType', 'accountGrade', 'productName1', 'rateType', 'currency', 'remittance']);
        //function doChange() {
        //    if ($("#accountGrade").val() == '01') {
        //        $(".card2").hide();
        //    } else {
        //        $(".card2").show();
        //    }
        //}
        function doSubmit() {
            goPage("200011&backform=200009");
        }
    </script>
</div>