@{
                    ViewBag.Title = "Form_060702";
                    Layout = "~/Views/Shared/_AdminLayoutIsNull.cshtml";
                }
               <script src="~/Js/Admin/AdminForm.js"></script>
               <script src="~/Js/Admin/CaseManagement/AddDefaultValue.js"></script>
               <form id="form1" onsubmit="return false" action="##" method="post">
                  <input type="hidden" id="TaskId" name="TaskId" value="@Request["TaskId"]" />
                  <input type="hidden" id="CustomerId" name="CustomerId" value="@Request["CustomerId"]" />
                  <input type="hidden" id="FormId" name="FormId" value="@Request["FormId"]" />
                  <input type="hidden" id="Types" name="Types" value="@Request["Types"]" />
                <!--内容表单区域开始-->
            <div class="tables bankmap">
			<div class="con-map selected"> <span class="top-title">查询要素<span id="dianji_con" style="cursor: pointer;">▼</span></span>
				<table id="qv" class="con-map2-table qv">
					<tbody>
						<tr>
							<td class="" style="width: 48px;"><label vl-keyup="wwww" vl-default="" id="label_qxz" vtitle="请选择" class="form-item text-left" vl-tipsid="label_qxz_tips">请选择</label>
								<div id="label_qxz_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class=""><input type="radio" vl-default="" id="redio_wsh" vtitle="未审核" class="form-item text-left" vl-tipsid="redio_wsh_tips" title="redio_wsh" oncopy="return false" onpaste="return false" oncut="return false" value="">未审核
								<div id="redio_wsh_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class=""><input type="radio" vl-default="" id="redio_sd" vtitle="锁定" class="form-item text-left" vl-tipsid="redio_sd_tips" title="redio_sd" oncopy="return false" onpaste="return false" oncut="return false" value="">锁定
								<div id="redio_sd_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="2" class="" style="width: 64px;"><label vl-default="" id="label_jyqd" vtitle="交易渠道" class="form-item text-left" vl-tipsid="label_jyqd_tips" title="label_jyqd">交易渠道</label>
								<div id="label_jyqd_tips" class="tipsmsg"></div>
							</td>
							<td class="">
								<div class="slectstyle">
									<select vl-default="0" id="sle_jyqd" vtitle="交易渠道" class="form-item text-left" vl-tipsid="sle_jyqd_tips" vl-regex="['require']" vl-message="['交易渠道不能为空!']" style="width: 84px;" title="sle_jyqd" vl-slemodel="">
										<option disabled="" style="background-color: blue; color: #fff;" value="">交易渠道值含义</option>
										<option value="0">0 - 全部</option>
										<option value="2">2 - 大额支付系统</option>
										<option value="3">3 - 小额支付系统</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 61px;"></div>
								<div id="sle_jyqd_tips" class="tipsmsg"></div>
							</td>
							<td class="" colspan="2" style="width: 80px;"><label vl-default="" id="label_fqhhh" vtitle="发起行行号" class="form-item text-left" vl-tipsid="label_fqhhh_tips" title="label_fqhhh">发起行行号</label>
								<div id="label_fqhhh_tips" class="tipsmsg"></div>
							</td>
							<td class="" colspan="3"><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_fqhhh" vtitle="发起行行号" class="form-item text-left" vl-tipsid="txt_fqhhh_tips" vl-regex="['maxlength40', 'number']" vl-message="['发起行行号长度大于最大长度:[40]!','发起行行号输入错误!']" style="width: 157px;" title="txt_fqhhh" onpaste="return false">
								<div id="txt_fqhhh_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="3" class="" style="width: 64px;"><label vl-default="" id="label_hrrq" vtitle="汇入日期" class="form-item text-left" vl-tipsid="label_hrrq_tips" title="label_hrrq">汇入日期</label>
								<div id="label_hrrq_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="8" class="">
								<div class="slectstyle">
									<select vl-default="" id="sle_hrrq" vtitle="汇入日期" class="form-item text-left" vl-tipsid="sle_hrrq_tips" style="width: 124px;" title="sle_hrrq" vl-slemodel="">
										<option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">汇入日期值含义</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 101px;"></div>
								<div id="sle_hrrq_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 48px;"><label vl-default="" id="label_zfqd" vtitle="支付渠道" class="form-item text-left" vl-tipsid="label_zfqd_tips" title="label_zfqd">支付渠道</label>
								<div id="label_zfqd_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_hkhhh" vtitle="汇款行行号" class="form-item text-left" vl-tipsid="label_hkhhh_tips" title="label_hkhhh">汇款行行号</label>
								<div id="label_hkhhh_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_hkhmc" vtitle="汇款行名称" class="form-item text-left" vl-tipsid="label_hkhmc_tips" title="label_hkhmc">汇款行名称</label>
								<div id="label_hkhmc_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_jshhhh" vtitle="接收行行号" class="form-item text-left" vl-tipsid="label_jshhhh_tips" title="label_jshhhh">接收行行号</label>
								<div id="label_jshhhh_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_jshmc" vtitle="接收行名称" class="form-item text-left" vl-tipsid="label_jshmc_tips" title="label_jshmc">接收行名称</label>
								<div id="label_jshmc_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_fkrzh" vtitle="付款人帐号" class="form-item text-left" vl-tipsid="label_fkrzh_tips" title="label_fkrzh">付款人帐号</label>
								<div id="label_fkrzh_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_fkrmc" vtitle="付款人名称" class="form-item text-left" vl-tipsid="label_fkrmc_tips" title="label_fkrmc">付款人名称</label>
								<div id="label_fkrmc_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_skrzhh" vtitle="收款人帐号" class="form-item text-left" vl-tipsid="label_skrzhh_tips" title="label_skrzhh">收款人帐号</label>
								<div id="label_skrzhh_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 80px;"><label vl-default="" id="label_skrmcc" vtitle="收款人名称" class="form-item text-left" vl-tipsid="label_skrmcc_tips" title="label_skrmcc">收款人名称</label>
								<div id="label_skrmcc_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_hkjee" vtitle="汇款金额" class="form-item text-left" vl-tipsid="label_hkjee_tips" title="label_hkjee">汇款金额</label>
								<div id="label_hkjee_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_ywlx1" vtitle="业务类型" class="form-item text-left" vl-tipsid="label_ywlx1_tips" title="label_ywlx1">业务类型</label>
								<div id="label_ywlx1_tips" class="tipsmsg"></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div> <input type="hidden" class="hidmainwidth" value="1000/" oncopy="return false" onpaste="return false" oncut="return false">
			<div class="foot  text-center"> <button vl-submit="true" id="btnsubmit">确定</button> <button>清空</button> <button>继续下一笔</button> <button type="button" onclick="FormReset()">重置</button>
                       <button type="button " style="margin-right: 0px; " vl-submit="true" id="btnsubmit" onclick="SubmitForm()"> 提交</button></div>
		</div>
<script src="~/Js/Student/GetDefaultValue/js/common.bank.ed.js"></script>
<link href="~/Js/Student/GetDefaultValue/js/common.bank.ed.css" rel="stylesheet" />
              </form>
