
<!--请输入账(卡)号-->
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_cancelReason" name="lbl_cancelReason" for="inputEmail3" class="col-sm-3 control-label">录入账(卡)号</label>
            <div class="col-sm-6">
                <input vl-default="" id="txt_cancelReason" name="txt_cancelReason" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
</div>
<script>
    @*function doSubmit() {
        goPage('@ViewBag.ToFormId');
    }*@
</script>