<!--无卡支付-->
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_account" name="lbl_account" for="inputEmail3" class="col-sm-3 control-label">账号</label>
            <div class="col-sm-6">
                <input vl-default="" id="txt_account" name="txt_account" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_accountName" name="lbl_accountName" for="inputEmail3" class="col-sm-3 control-label">账户名称</label>
            <div class="col-sm-6">
                <input vl-default="" id="txt_accountName" name="txt_accountName" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_sealCardNumber" name="lbl_sealCardNumber" for="inputEmail3" class="col-sm-3 control-label">印鉴卡号码</label>
            <div class="col-sm-6">
                <input vl-default="" id="txt_sealCardNumber" name="txt_sealCardNumber" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_startDate" name="lbl_startDate" for="inputEmail3" class="col-sm-3 control-label">启用日期</label>
            <div class="col-sm-6">
                <input vl-default="" id="txt_startDate" name="txt_startDate" type="date" max="9999-12-31"  class="form-control input-sm">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_remarks" name="lbl_remarks" for="inputEmail3" class="col-sm-3 control-label">备注</label>
            <div class="col-sm-6">
                <input vl-default="" id="txt_remarks" name="txt_remarks" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
</div>