<!--无卡支付-->
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_sealCount" name="lbl_sealCount" for="inputEmail3" class="col-sm-3 control-label">请输入用印次数</label>
            <div class="col-sm-6">
                <input vl-default="" id="txt_sealCount" name="txt_sealCount" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
</div>