@{
                    ViewBag.Title = "Form_060202";
                    Layout = "~/Views/Shared/_AdminLayoutIsNull.cshtml";
                }
               <script src="~/Js/Admin/AdminForm.js"></script>
               <script src="~/Js/Admin/CaseManagement/AddDefaultValue.js"></script>
               <form id="form1" onsubmit="return false" action="##" method="post">
                  <input type="hidden" id="TaskId" name="TaskId" value="@Request["TaskId"]" />
                  <input type="hidden" id="CustomerId" name="CustomerId" value="@Request["CustomerId"]" />
                  <input type="hidden" id="FormId" name="FormId" value="@Request["FormId"]" />
                  <input type="hidden" id="Types" name="Types" value="@Request["Types"]" />
                <!--内容表单区域开始-->
            <div class="tables bankmap">
        <div class="con-map"> <span class="top-title">基本信息 <span id="dianji_con" style="cursor: pointer;">▼</span></span>
            <table id="qv" class="con-map2-table qv">
                <tbody>
                    <tr>
                        <td class="" style="width: 64px;"><label vl-keyup="wwww" vl-default="" id="label_jyqd" vtitle="ss交易渠道" class="form-item text-left" vl-tipsid="label_jyqd_tips" title="label_jyqd"><s></s><s></s>交易渠道</label>
                            <div id="label_jyqd_tips" class="tipsmsg"></div>
                        </td>
                        <td class=""><input type="text" oncopy="return false" oncut="return false" vl-keyup="wwww" vl-default="2-大额支付系统" id="txt_jyqd" vtitle="交易渠道" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_jyqd_tips" style="width: 250px;" title="txt_jyqd" onpaste="return false" disabled="disabled">
                            <div id="txt_jyqd_tips" class="tipsmsg"></div>
                        </td>
                        <td class="" style="width: 64px;"><label vl-keyup="wwww" vl-default="" id="label_ywlx" vtitle="ss业务类型" class="form-item text-left" vl-tipsid="label_ywlx_tips" title="label_ywlx"><s></s><s></s>业务类型</label>
                            <div id="label_ywlx_tips" class="tipsmsg"></div>
                        </td>
                        <td class=""><input type="text" oncopy="return false" oncut="return false" vl-keyup="wwww" vl-default="A-100普通汇款" id="txt_ywlx" vtitle="业务类型" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_ywlx_tips" style="width: 250px;" title="txt_ywlx" onpaste="return false" disabled="disabled">
                            <div id="txt_ywlx_tips" class="tipsmsg"></div>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1" class="" style="width: 32px;"><label vl-keyup="wwww" vl-default="" id="label_bh" vtitle="ssssss包号" class="form-item text-left" vl-tipsid="label_bh_tips" title="label_bh"><s></s><s></s><s></s><s></s><s></s><s></s>包号</label>
                            <div id="label_bh_tips" class="tipsmsg"></div>
        </td>
        <td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-keyup="wwww" vl-default="" id="txt_bh" vtitle="包号" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_bh_tips" style="width: 250px;" title="txt_bh" onpaste="return false" disabled="disabled">
            <div id="txt_bh_tips" class="tipsmsg"></div>
    </td>
    <td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-keyup="wwww" vl-default="" id="label_bwbsh" vtitle="报文标识号" class="form-item text-left" vl-tipsid="label_bwbsh_tips" title="label_bwbsh">报文标识号</label>
        <div id="label_bwbsh_tips" class="tipsmsg"></div>
    </td>
    <td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-keyup="wwww" vl-default="" id="txt_bwbsh" vtitle="报文标识号" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_bwbsh_tips" style="width: 250px;" title="txt_bwbsh" onpaste="return false" disabled="disabled">
        <div id="txt_bwbsh_tips" class="tipsmsg"></div>
    </td>
    </tr>
    <tr>
        <td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-keyup="wwww" vl-default="" id="label_hkje" vtitle="ss汇款金额" class="form-item text-left on" vl-tipsid="label_hkje_tips" title="label_hkje"><s></s><s></s>汇款金额</label>
            <div id="label_hkje_tips" class="tipsmsg"></div>
        </td>
        <td rowspan="1" colspan="1" class="">
            <div class="moneystyle"><input type="text" oncopy="return false" onpaste="return false" oncut="return false" vl-type="money" vl-keyup="wwww" vl-default="100.00" id="money_hkje" vtitle="汇款金额" class="form-item text-left money" vl-disabled="true" vl-tipsid="money_hkje_tips" style="width: 250px;" title="money_hkje" disabled="disabled"><label class="moneytips hide green">人民币CNY￥<span class="num">0.00</span><span class="cn">零元整</span></label></div>
            <div id="money_hkje_tips" class="tipsmsg"></div>
        </td>
        <td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-keyup="wwww" vl-default="" id="label_jedx" vtitle="ss金额大写" class="form-item text-left" vl-tipsid="label_jedx_tips" title="label_jedx"><s></s><s></s>金额大写</label>
            <div id="label_jedx_tips" class="tipsmsg"></div>
        </td>
        <td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-keyup="wwww" vl-default="" id="txt_jedx" vtitle="金额大写" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_jedx_tips" style="width: 250px;" title="txt_jedx" onpaste="return false" disabled="disabled">
            <div id="txt_jedx_tips" class="tipsmsg"></div>
        </td>
    </tr>
    <tr>
        <td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-keyup="wwww" vl-default="" id="label_dfhhh" vtitle="对方行行号" class="form-item text-left" vl-tipsid="label_dfhhh_tips" title="label_dfhhh">对方行行号</label>
            <div id="label_dfhhh_tips" class="tipsmsg"></div>
        </td>
        <td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-keyup="wwww" vl-default="" id="txt_dfhhh" vtitle="对方行行号" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_dfhhh_tips" style="width: 250px;" title="txt_dfhhh" onpaste="return false" disabled="disabled">
            <div id="txt_dfhhh_tips" class="tipsmsg"></div>
        </td>
        <td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-keyup="wwww" vl-default="" id="label_dfhm" vtitle="ss对方行名" class="form-item text-left" vl-tipsid="label_dfhm_tips" title="label_dfhm"><s></s><s></s>对方行名</label>
            <div id="label_dfhm_tips" class="tipsmsg"></div>
        </td>
        <td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-keyup="wwww" vl-default="" id="txt_dfhm" vtitle="对方行名" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_dfhm_tips" style="width: 250px;" title="txt_dfhm" onpaste="return false" disabled="disabled">
            <div id="txt_dfhm_tips" class="tipsmsg"></div>
        </td>
    </tr>
    <tr>
        <td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-keyup="wwww" vl-default="" id="label_fkrzh" vtitle="付款人账号" class="form-item text-left" vl-tipsid="label_fkrzh_tips" title="label_fkrzh">付款人账号</label>
            <div id="label_fkrzh_tips" class="tipsmsg"></div>
        </td>
        <td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-keyup="wwww" vl-default="" id="txt_fkrzh" vtitle="付款人账号" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_fkrzh_tips" style="width: 250px;" title="txt_fkrzh" onpaste="return false" disabled="disabled">
            <div id="txt_fkrzh_tips" class="tipsmsg"></div>
        </td>
        <td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-keyup="wwww" vl-default="" id="label_fkrmc" vtitle="付款人名称" class="form-item text-left on" vl-tipsid="label_fkrmc_tips" title="label_fkrmc">付款人名称</label>
            <div id="label_fkrmc_tips" class="tipsmsg"></div>
        </td>
        <td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-keyup="wwww" vl-default="" id="txt_fkrmc" vtitle="付款人名称" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_fkrmc_tips" style="width: 250px;" title="txt_fkrmc" onpaste="return false" disabled="disabled">
            <div id="txt_fkrmc_tips" class="tipsmsg"></div>
        </td>
    </tr>
    <tr>
        <td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-keyup="wwww" vl-default="" id="label_skrzh" vtitle="收款人账号" class="form-item text-left on" vl-tipsid="label_skrzh_tips" title="label_skrzh">收款人账号</label>
            <div id="label_skrzh_tips" class="tipsmsg"></div>
        </td>
        <td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-keyup="wwww" vl-default="" id="txt_skrzh" vtitle="收款人账号" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_skrzh_tips" style="width: 250px;" title="txt_skrzh" onpaste="return false" disabled="disabled">
            <div id="txt_skrzh_tips" class="tipsmsg"></div>
        </td>
        <td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-keyup="wwww" vl-default="" id="label_skrmc" vtitle="收款人名称" class="form-item text-left on" vl-tipsid="label_skrmc_tips" title="label_skrmc">收款人名称</label>
            <div id="label_skrmc_tips" class="tipsmsg"></div>
        </td>
        <td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-keyup="wwww" vl-default="" id="txt_skrmc" vtitle="收款人名称" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_skrmc_tips" style="width: 250px;" title="txt_skrmc" onpaste="return false" disabled="disabled">
            <div id="txt_skrmc_tips" class="tipsmsg"></div>
        </td>
    </tr>
    <tr>
        <td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-keyup="wwww" vl-default="" id="label_fsrq" vtitle="ss发送日期" class="form-item text-left" vl-tipsid="label_fsrq_tips" title="label_fsrq"><s></s><s></s>发送日期</label>
            <div id="label_fsrq_tips" class="tipsmsg"></div>
        </td>
        <td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-keyup="wwww" vl-default="20170830" id="txt_fsrq" vtitle="发送日期" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_fsrq_tips" style="width: 250px;" title="txt_fsrq" onpaste="return false" disabled="disabled">
            <div id="txt_fsrq_tips" class="tipsmsg"></div>
        </td>
        <td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-keyup="wwww" vl-default="" id="label_jsrq" vtitle="ss接收日期" class="form-item text-left" vl-tipsid="label_jsrq_tips" title="label_jsrq"><s></s><s></s>接收日期</label>
            <div id="label_jsrq_tips" class="tipsmsg"></div>
        </td>
        <td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-keyup="wwww" vl-default="" id="txt_jsrq" vtitle="接收日期" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_jsrq_tips" style="width: 250px;" title="txt_jsrq" onpaste="return false" disabled="disabled">
            <div id="txt_jsrq_tips" class="tipsmsg"></div>
        </td>
    </tr>
    </tbody>
    </table>
    </div>
    <div class="con-map selected"><span class="top-title">基本信息 <span id="dianji_con" style="cursor: pointer;">▼</span></span>
        <table id="qv" class="con-map2-table qv">
            <tbody>
                <tr>
                    <td colspan="1" class="" style="width: 64px;"><label vl-keyup="wwww" vl-default="" id="label_zkhm" vtitle="ss重空号码" class="form-item text-left" vl-tipsid="label_zkhm_tips" title="label_zkhm"><s></s><s></s>重空号码</label>
                        <div id="label_zkhm_tips" class="tipsmsg"></div>
                    </td>
                    <td class=""><input type="text" oncopy="return false" oncut="return false" vl-keyup="wwww" vl-default="" id="txt_zkhm" vtitle="重空号码" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_zkhm_tips" style="width: 250px;" title="txt_zkhm" onpaste="return false" disabled="disabled">
                        <div id="txt_zkhm_tips" class="tipsmsg"></div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-keyup="wwww" vl-default="" id="label_thyy" vtitle="ss退汇原因" class="form-item text-left" vl-tipsid="label_thyy_tips"><s></s><s></s>退汇原因</label>
                        <div id="label_thyy_tips" class="tipsmsg"></div>
    </td>
    <td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-keyup="wwww" vl-default="" id="txt_thyy" vtitle="退汇原因" class="form-item text-left" vl-tipsid="txt_thyy_tips" vl-regex="['require', 'maxlength300']" vl-message="['退汇原因不能为空！','退汇原因最大长度大于最大长度:[300]!']" style="width: 750px;" title="txt_thyy" onpaste="return false"><span class="text-red redtip">!</span>
        <div id="txt_thyy_tips" class="tipsmsg"></div>
    </td>
    </tr>
    </tbody>
    </table>
    </div> <input type="hidden" class="hidmainwidth" value="1000/" oncopy="return false" onpaste="return false" oncut="return false">
    <div class="foot  text-center"> <button vl-submit="true" id="btnsubmit">确定</button> <button>清空</button> <button>继续下一笔</button> <button type="button" onclick="FormReset()">重置</button>
                       <button type="button " style="margin-right: 0px; " vl-submit="true" id="btnsubmit" onclick="SubmitForm()"> 提交</button></div>
    </div>
<script src="~/Js/Student/GetDefaultValue/js/common.bank.ed.js"></script>
@*<script type="text/javascript">
        $(function () { $(document).on("click", "#btnsubmit", function () { if (bank.isCheck) { layer.alert('提交成功！'); } else { var str = ""; for (var i = 0; i < bank.errors.length; i++) { str += bank.errors[i].errormsg + "<br/>"; } layer.alert(str); } }); });
    </script>*@
<link href="~/Js/Student/GetDefaultValue/js/common.bank.ed.css" rel="stylesheet" />
              </form>
