@{
                    ViewBag.Title = "Form_065401";
                    Layout = "~/Views/Shared/_AdminLayoutIsNull.cshtml";
                }
               <script src="~/Js/Admin/AdminForm.js"></script>
               <script src="~/Js/Admin/CaseManagement/AddDefaultValue.js"></script>
               <form id="form1" onsubmit="return false" action="##" method="post">
                  <input type="hidden" id="TaskId" name="TaskId" value="@Request["TaskId"]" />
                  <input type="hidden" id="CustomerId" name="CustomerId" value="@Request["CustomerId"]" />
                  <input type="hidden" id="FormId" name="FormId" value="@Request["FormId"]" />
                  <input type="hidden" id="Types" name="Types" value="@Request["Types"]" />
                <!--内容表单区域开始-->
            <div class="tables bankmap">
			<div class="banktop"> <span class="toolbar-title-img">                                        <img src="../busi/img/topleft.png">04141-柜员现金调剂</span> <span class="toolbar-title-close" style="display: none;">                                        </span> </div>
			<div class="con-map2 selected">
				<table id="qv" class="con-map2-table qv">
					<tbody>
						<tr>
							<td class="" rowspan="1" colspan="1" style="width: 32px;"><label vl-default="" id="label_bz" vtitle="币ii种" class="form-item text-left" vl-tipsid="label_bz_tips" style="width: 80px;" title="label_bz" name="label_bz">币<i></i><i></i>种</label>
								<div id="label_bz_tips" class="tipsmsg"></div>
							</td>
							<td class="" rowspan="1" colspan="1">
								<div class="slectstyle">
                                    <select vl-default="CNY" id="sle_bz" vtitle="币种" class="form-item text-left" vl-tipsid="sle_bz_tips" vl-regex="['require']" vl-message="['币种不能为空!']" style="width: 600px;" title="sle_bz" vl-slemodel="" name="sle_bz">
                                        <option disabled="" style="background-color: blue; color: #fff;" value="">币种值含义</option>
                                        <option value="CNY">CNY - 人民币</option>
                                    </select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 577px;" id="mb1_sleinput_BiZhong_2" name="mb1_sleinput_BiZhong_2"></div>
								<div id="sle_bz_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 32px;"><label vl-default="" id="label_czlx" vtitle="操作类型" class="form-item text-left" vl-tipsid="label_czlx_tips" style="width: 80px;" title="label_czlx" name="label_czlx">操作类型</label>
								<div id="label_czlx_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="">
								<div class="slectstyle">
                                    <select vl-default="1" id="sle_czlx" vtitle="操作类型" class="form-item text-left" vl-tipsid="sle_czlx_tips" vl-regex="['require']" vl-message="['操作类型不能为空!']" style="width: 600px;" title="sle_czlx" vl-slemodel="" name="sle_czlx">
                                        <option disabled="" style="background-color: blue; color: #fff;" value="">操作类型值含义</option>
                                        
                                        <option value="1">1 - 付出</option>
                                        <option value="2">2 - 收入</option>
                                    </select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 577px;" id="mb1_sleinput_CaoZuoLeiXing_4" name="mb1_sleinput_CaoZuoLeiXing_4"></div>
								<div id="sle_czlx_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 32px;"><label vl-default="" id="label_dfgy" vtitle="对方柜员" class="form-item text-left" vl-tipsid="label_dfgy_tips" style="width: 80px;" title="label_dfgy" name="label_dfgy">对方柜员</label>
								<div id="label_dfgy_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="">
								<div class="slectstyle">
									<select vl-default="" id="sle_dfgy" vtitle="对方柜员" class="form-item text-left" vl-tipsid="sle_dfgy_tips" vl-regex="['require']" vl-message="['对方柜员不能为空!']" style="width: 600px;" title="sle_dfgy" vl-slemodel="" name="sle_dfgy">
										<option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">对方柜员值含义</option>
										<option value="143276">143276-凌洪业</option>
										<option value="624681">624681-范标睿</option>
										<option value="115791">115791-盛庚盼</option>
										<option value="315492">315492-周熊界</option>
										<option value="550038">550038-孟天怡</option>
										<option value="800169">800169-周华菘</option>
										<option value="111654">111654-元当娜</option>
										<option value="200468">200468-任悦远</option>
										<option value="503480">503480-石艺宜</option>
										<option value="776038">776038-巫碧枝</option>
										<option value="671008">671008-张杜珍</option>
										<option value="160544">160544-丁素晶</option>
										<option value="605497">605497-武信雪</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 577px;" id="mb1_sleinput_DuiFangGuiYuan_6" name="mb1_sleinput_DuiFangGuiYuan_6"><span class="text-red redtip">!</span></div>
								<div id="sle_dfgy_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 32px;"><label vl-default="" id="label_jyje" vtitle="交易金额" class="form-item text-left on" vl-tipsid="label_jyje_tips" style="width: 80px;" title="label_jyje" name="label_jyje">交易金额</label>
								<div id="label_jyje_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="">
								<div class="moneystyle"><input type="text" oncopy="return false" onpaste="return false" oncut="return false" vl-type="money" vl-default="0.00" id="money_jyje" vtitle="交易金额" class="form-item text-left money" jinejiaoyan="true" vl-tipsid="money_jyje_tips" vl-regex="['require', 'notequal0', 'decimal']" vl-message="['交易金额不能为空！','交易金额不能小于等于0','交易金额输入错误!']" style="width: 600px;" name="money_jyje"><label class="moneytips hide green">人民币CNY￥<span class="num">0.00</span><span class="cn">零元整</span></label></div>
								<div id="money_jyje_tips" class="tipsmsg"></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="con-map2">
				<table id="qv" class="con-map2-table qv">
					<tbody>
						<tr>
							<td class="" rowspan="1" colspan="1"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="foot "> <span>                                        <button>退出（F3）</button>                                        <button>帮助（F1）</button>                                        <button>辅助（F4）</button>                                        <button type="button" onclick="FormReset()">重置（F5）</button></span> <span style="float: right;">                                        <button type="button" style="margin-right: 0px;" vl-submit="true" id="btnsubmit" onclick="SubmitForm()">提交</button></span> </div>
			<input type="hidden" class="hidmainwidth" value="1000/" oncopy="return false" onpaste="return false" oncut="return false"> </div>
@*<link href="~/Js/Student/GetDefaultValue/js/common.bank.css" rel="stylesheet" />*@
              </form>
