
<!--企业网银客户签约管理[账户修改]-->
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_account" name="lbl_account" for="inputEmail3" class="col-sm-3 control-label">修改账号</label>
            <div class="col-sm-6">
                <input vl-default="" id="txt_account" name="txt_account" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_accountName" name="lbl_accountName" for="inputEmail3" class="col-sm-3 control-label">账户名称</label>
            <div class="col-sm-6">
                <input vl-default="" id="txt_accountName" name="txt_accountName" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_operation" name="lbl_operation" for="inputEmail3" class="col-sm-3 control-label">操作权限</label>
            <div class="col-sm-6">
                <div class="checkbox">
                    <label>
                        <input vl-default="" id="check_search" name="check_search" type="checkbox"> 查询
                    </label>
                    <label>
                        <input vl-default="" id="check_payment" name="check_payment" type="checkbox"> 付款
                    </label>
                    <label>
                        <input vl-default="" id="check_issuingWithholding" name="check_issuingWithholding" type="checkbox"> 代发代扣
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_singleLimit" name="lbl_singleLimit" for="inputEmail3" class="col-sm-3 control-label">单笔限额</label>
            <div class="col-sm-6">
                <input vl-default="" id="txt_singleLimit" name="txt_singleLimit" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label id="lbl_dailyLimit" name="lbl_dailyLimit" for="inputEmail3" class="col-sm-3 control-label">日累计限额</label>
            <div class="col-sm-6">
                <input vl-default="" id="txt_dailyLimit" name="txt_dailyLimit" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
</div>