@{
                    ViewBag.Title = "Form_081005";
                    Layout = "~/Views/Shared/_AdminLayoutIsNull.cshtml";
                }
               <script src="~/Js/Admin/AdminForm.js"></script>
               <script src="~/Js/Admin/CaseManagement/AddDefaultValue.js"></script>
               <form id="form1" onsubmit="return false" action="##" method="post">
                  <input type="hidden" id="TaskId" name="TaskId" value="@Request["TaskId"]" />
                  <input type="hidden" id="CustomerId" name="CustomerId" value="@Request["CustomerId"]" />
                  <input type="hidden" id="FormId" name="FormId" value="@Request["FormId"]" />
                  <input type="hidden" id="Types" name="Types" value="@Request["Types"]" />
                <!--内容表单区域开始-->
            <div class="tables bankmap">
			<div class="banktop"> <span class="toolbar-title-img">                                        <img src="../busi/img/topleft.png">04705-冲正补记</span> <span class="toolbar-title-close" style="display: none;">                                        </span> </div>
			<div class="con-map2">
				<table id="qv" class="con-map2-table qv">
					<tbody>
						<tr>
							<td class="" rowspan="1" colspan="1" style="width: 64px;"><label vl-default="" id="label_czlx" vtitle="操作类型" class="form-item text-left" vl-tipsid="label_czlx_tips" title="label_czlx" name="label_czlx">操作类型</label>
								<div id="label_czlx_tips" class="tipsmsg"></div>
							</td>
							<td class="" rowspan="1" colspan="3">
								<div class="slectstyle">
									<select vl-default="" id="sle_czlx" vtitle="操作类型" class="form-item text-left on" vl-tipsid="sle_czlx_tips" vl-regex="['require']" vl-message="['操作类型不能为空!']" style="width: 600px;" title="sle_czlx" vl-slemodel="txt_ylsh,txt_czzh,money_je,txt_bzxx,txt_bjzh,sle_bjpzzl,txt_bjhytlx,txt_bzxx1" name="sle_czlx">
										<option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">操作类型值含义</option>
										<option sle-require="[{'id':'txt_ylsh','regex':['require','maxlength40','number'],'tips':['原流水号不能为空！','原流水号长度大于最大长度:[40]！'],'disabled':'false*false*false','default':''},{'id':'txt_czzh','regex':['require','maxlength32','number'],'tips':['冲正账号不能为空！','冲正账号长度大于最大长度:[32]！'],'disabled':'false*false*false','default':''},{'id':'money_je','regex':['require','maxlength16','number'],'tips':['金额必须大于0.00','金额长度大于最大长度:[16]！'],'disabled':'false*false*false','default':''},{'id':'txt_bzxx','regex':['require','maxlength120'],'tips':['备注信息不能为空！','备注信息长度大于最大长度:[120]！'],'disabled':'false*false','default':''}]" sle-tabable="tab_0_2|true|false" value="1">1 - 冲正</option>
										<option sle-require="[{'id':'txt_bjzh','regex':['require','maxlength32','number'],'tips':['补记账号不能为空！','补记账号长度大于最大长度:[32]!'],'disabled':'false*false*false','default':''},{'id':'sle_bjpzzl','regex':['require','maxlength25','notequal'],'tips':['补记凭证种类不能为空！','补记凭证种类输入错误！'],'disabled':'false*false*false','default':'*补记凭证种类长度大于最大长度:[25]！*'},{'id':'txt_bjhytlx','regex':['require','maxlength40','number'],'tips':['补记凭证号码不能为空！','补记凭证号码长度大于最大长度:[40]！'],'disabled':'false*false*false','default':''},{'id':'txt_bzxx1','regex':['require','maxlength120'],'tips':['备注信息不能为空！','备注信息长度大于最大长度:[120]！'],'disabled':'false*false','default':''}]sle-tabable=&quot;tab_0_1|true|false&quot;" value="2">2 - 补记</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 577px;" id="mb1_sleinput_CaoZuoLeiXing_2" name="mb1_sleinput_CaoZuoLeiXing_2"><span class="text-red redtip">!</span></div>
								<div id="sle_czlx_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_czrq" vtitle="错账日期" class="form-item text-left" vl-tipsid="label_czrq_tips" title="label_czrq" name="label_czrq">错账日期</label>
								<div id="label_czrq_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class=""><input type="text" class="date form-item text-left on" vl-default="0" id="date_czrq" vtitle="错账日期" vl-tipsid="date_czrq_tips" vl-regex="['require', 'maxlength8', 'tdate', 'number']" vl-message="['错账日期不能为空!','','请输入正确的错账日期格式（如:19000101）!','']" style="width: 180px;" title="date_czrq" oncopy="return false" onpaste="return false" oncut="return false" name="date_czrq"><img onclick="WdatePicker({el:'date_czrq',dateFmt:'yyyyMMdd'})" src="/js/My97DatePicker/skin/datePicker.gif" align="absmiddle" style="width:16px;height:22px;margin-left:6px;">
								<div id="date_czrq_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_ylsh" vtitle="原流水号" class="form-item text-left" vl-tipsid="label_ylsh_tips" title="label_ylsh" name="label_ylsh">原流水号</label>
								<div id="label_ylsh_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_ylsh" vtitle="原流水号" class="form-item text-left on" kuaicha="true" vl-tipsid="txt_ylsh_tips" vl-regex="['require','maxlength40', 'number']" vl-message="['原流水号不能为空','原流水号长度大于最大长度:[40]!','']" style="width: 180px;" title="txt_ylsh" onpaste="return false" name="txt_ylsh"><img class="sousuo" src="/Js/Student/GetDefaultValue/img/banksousuo.png" vl-exec="false" vl-message="['原流水号查询未执行！']" title="执行快查！"><span class="text-red redtip">!</span>
								<div id="txt_ylsh_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_jdbz" vtitle="借贷标志" class="form-item text-left" vl-tipsid="label_jdbz_tips" title="label_jdbz" name="label_jdbz">借贷标志</label>
								<div id="label_jdbz_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="">
								<div class="slectstyle">
									<select vl-default="" id="sle_jdbz" vtitle="借贷标志" class="form-item text-left on" vl-tipsid="sle_jdbz_tips" vl-regex="['require']" vl-message="['借贷标志不能为空!']" style="width: 180px;" title="sle_jdbz" vl-slemodel="" name="sle_jdbz">
										<option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">借贷标志值含义</option>
										<option value="1">1 - 借</option>
										<option value="2">2 - 贷</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 157px;" id="mb1_sleinput_JieDaiBiaoZhi_8" name="mb1_sleinput_JieDaiBiaoZhi_8"><span class="text-red redtip">!</span></div>
								<div id="sle_jdbz_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_xzbz" vtitle="现转标志" class="form-item text-left" vl-tipsid="label_xzbz_tips" title="label_xzbz" name="label_xzbz">现转标志</label>
								<div id="label_xzbz_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="">
								<div class="slectstyle">
									<select vl-default="2" id="sle_xzbz" vtitle="现转标志" class="form-item text-left on" vl-disabled="true" vl-tipsid="sle_xzbz_tips" style="width: 180px;" title="sle_xzbz" vl-slemodel="" disabled="disabled" name="sle_xzbz">
										<option disabled="" style="background-color: blue; color: #fff;" value="">现转标志值含义</option>
										<option value="1">1 - 现金</option>
										<option value="2">2 - 转账</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" disabled="disabled" style="width: 157px;" id="mb1_sleinput_XianZhuanBiaoZhi_10" name="mb1_sleinput_XianZhuanBiaoZhi_10"></div>
								<div id="sle_xzbz_tips" class="tipsmsg"></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="con-map2 selected">
				<div class="box">
					<ul class="tab">
						<li title="tab_0_0" id="tab_0_0" class="tab_0_0 one">原流水号信息</li>
						<li title="tab_0_1" id="tab_0_1" class="tab_0_1">冲正信息</li>
						<li title="tab_0_2" id="tab_0_2" class="tab_0_2">补记信息</li>
					</ul>
					<div class="content">
						<div class="ct" style="">
                            <iframe id="iframeID" name="iframeID" style="width: 100%;height: 300px; border:none; " src=""></iframe>
						</div>
						<div class="ct" style="display: none;">
							<table id="qv" class="con-map2-table qv">
								<tbody>
									<tr>
										<td class="" colspan="1" style="width: 0px;"><label vl-default="" id="label_czzh" vtitle="冲正账号" class="form-item text-left on" vl-tipsid="label_czzh_tips" title="label_czzh" name="label_czzh">冲正账号</label>
											<div id="label_czzh_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="3" class="">
											<!--<input type="text" oncopy="return false;" oncut="return false;" vl-default="" id="txt_czzh" vtitle='冲正账号' class="form-item text-left" kuaicha="true" vl-tipsid="txt_czzh_tips" style="width: 600px;" title="txt_czzh">-->
											<input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_czzh" vtitle="冲正账号" class="form-item text-left" style="width: 600px;" kuaicha="true" vl-tipsid="txt_czzh_tips" vl-regex="['maxlength21', 'number']" vl-message="['冲正账号最大长度为21!','冲正账号只能为数字!']" onpaste="return false" name="txt_czzh">
											<img class="sousuo" src="/Js/Student/GetDefaultValue/img/banksousuo.png" vl-select="txt_czzhmc|0|0,sle_czpzzl|0|0,money_czqye|0|0,date_czrq|0|0" vl-exec="false" vl-message="['冲正账号查询未执行！']" title="执行快查！">
											<div id="txt_czzh_tips" class="tipsmsg"></div>
										</td>
									</tr>
									<tr>
										<td rowspan="1" colspan="1" class="" style="width: 0px;"><label vl-default="" id="label_czzhmc" vtitle="冲正账号名称" class="form-item text-left" vl-tipsid="label_czzhmc_tips" title="label_czzhmc" name="label_czzhmc">冲正账号名称</label>
											<div id="label_czzhmc_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="3" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_czzhmc" vtitle="冲正账号名称" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_czzhmc_tips" vl-regex="['maxlength40']" vl-message="['冲正凭证名称长度大于最大长度:[20]!']" style="width: 600px;" title="txt_czzhmc" onpaste="return false" disabled="disabled" name="txt_czzhmc">
											<div id="txt_czzhmc_tips" class="tipsmsg"></div>
										</td>
									</tr>
									<tr>
										<td rowspan="1" colspan="1" class="" style="width: 0px;"><label vl-default="" id="label_czpzzl" vtitle="冲正凭证种类" class="form-item text-left on" vl-tipsid="label_czpzzl_tips" title="label_czpzzl" name="label_czpzzl">冲正凭证种类</label>
											<div id="label_czpzzl_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class="">
											<div class="slectstyle">
												<select vl-default="299" id="sle_czpzzl" vtitle="冲正凭证种类" class="form-item text-left" vl-tipsid="sle_czpzzl_tips" style="width: 180px;" title="sle_czpzzl" vl-slemodel="" name="sle_czpzzl">
													<option disabled="" style="background-color: blue; color: #fff;" value="">冲正凭证种类值含义</option>
													<option value="299">299 - 内部凭证</option>
												</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 157px;" id="mb2_sleinput_ChongZhengPingZhengZhongLei_6" name="mb2_sleinput_ChongZhengPingZhengZhongLei_6"></div>
											<div id="sle_czpzzl_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class="" style="width: 0px;"><label vl-default="" id="label_czpzhm" vtitle="冲正凭证号码" class="form-item text-left on" vl-tipsid="label_czpzhm_tips" title="label_czpzhm" name="label_czpzhm">冲正凭证号码</label>
											<div id="label_czpzhm_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_czpzhm" vtitle="冲正凭证号码" class="form-item text-left" kuaicha="true" vl-tipsid="txt_czpzhm_tips" vl-regex="['maxlength40']" vl-message="['冲正凭证号码长度大于最大长度:[40]!']" style="width: 180px;" title="txt_czpzhm" onpaste="return false" name="txt_czpzhm"><img class="sousuo" src="/Js/Student/GetDefaultValue/img/banksousuo.png" vl-exec="false" vl-message="['冲正凭证号码查询未执行！']" title="执行快查！">
											<div id="txt_czpzhm_tips" class="tipsmsg"></div>
										</td>
									</tr>
									<tr>
										<td rowspan="1" colspan="1" class="" style="width: 0px;"><label vl-default="" id="label_czqye" vtitle="冲正前余额" class="form-item text-left on" vl-tipsid="label_czqye_tips" title="label_czqye" name="label_czqye">冲正前余额</label>
											<div id="label_czqye_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class="">
											<div class="moneystyle"><input type="text" oncopy="return false" onpaste="return false" oncut="return false" vl-type="money" vl-default="0.00" id="money_czqye" vtitle="冲正前余额" class="form-item text-left on money" vl-disabled="true" vl-tipsid="money_czqye_tips" style="width: 180px;" title="money_czqye" disabled="disabled" name="money_czqye"><label class="moneytips hide green">人民币CNY￥<span class="num">0.00</span><span class="cn">零元整</span></label></div>
											<div id="money_czqye_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class="" style="width: 0px;"><label vl-default="" id="label_czhye" vtitle="冲正后余额" class="form-item text-left on" vl-tipsid="label_czhye_tips" title="label_czhye" name="label_czhye">冲正后余额</label>
											<div id="label_czhye_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class="">
											<div class="moneystyle"><input type="text" oncopy="return false" onpaste="return false" oncut="return false" vl-type="money" vl-keyup="wwww" vl-default="0.00" id="money_czhye" vtitle="冲正后余额" class="form-item text-left money" vl-disabled="true" vl-tipsid="money_czhye_tips" style="width: 180px;" title="money_czhye" disabled="disabled" name="money_czhye"><label class="moneytips hide green">人民币CNY￥<span class="num">0.00</span><span class="cn">零元整</span></label></div>
											<div id="money_czhye_tips" class="tipsmsg"></div>
										</td>
									</tr>
									<tr>
										<td rowspan="1" colspan="1" class="" style="width: 0px;"><label vl-default="" id="label_czqytlx" vtitle="冲正前预提利息" class="form-item text-left on" vl-tipsid="label_czqytlx_tips" title="label_czqytlx" name="label_czqytlx">冲正前预提利息</label>
											<div id="label_czqytlx_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class="">
											<div class="moneystyle"><input type="text" oncopy="return false" onpaste="return false" oncut="return false" vl-type="money" vl-keyup="wwww" vl-default="0.00" id="money_czqytlx" vtitle="冲正前预提利息" class="form-item text-left money" vl-disabled="true" vl-tipsid="money_czqytlx_tips" vl-regex="['maxlength16']" vl-message="['冲正前预提利息长度大于最大长度:[16]!']" style="width: 180px;" title="money_czqytlx" disabled="disabled" name="money_czqytlx"><label class="moneytips hide green">人民币CNY￥<span class="num">0.00</span><span class="cn">零元整</span></label></div>
											<div id="money_czqytlx_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class="" style="width: 0px;"><label vl-default="" id="label_czhytlx" vtitle="冲正后预提利息" class="form-item text-left on" vl-tipsid="label_czhytlx_tips" title="label_czhytlx" name="label_czhytlx">冲正后预提利息</label>
											<div id="label_czhytlx_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class="">
											<div class="moneystyle"><input type="text" oncopy="return false" onpaste="return false" oncut="return false" vl-type="money" vl-keyup="wwww" vl-default="0.00" id="money_czhytlx" vtitle="冲正后预提利息" class="form-item text-left money" vl-disabled="true" vl-tipsid="money_czhytlx_tips" vl-regex="['maxlength16']" vl-message="['冲正后预提利息长度大于最大长度:[16]!']" style="width: 160px;" title="money_czhytlx" disabled="disabled" name="money_czhytlx"><label class="moneytips hide green">人民币CNY￥<span class="num">0.00</span><span class="cn">零元整</span></label></div>
											<div id="money_czhytlx_tips" class="tipsmsg"></div>
										</td>
									</tr>
									<tr>
										<td rowspan="1" colspan="1" class="" style="width: 0px;"><label vl-default="" id="label_je" vtitle="金ii额" class="form-item text-left on" vl-tipsid="label_je_tips" title="label_je" name="label_je">金<i></i><i></i>额</label>
											<div id="label_je_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="3" class="">
											<div class="moneystyle">
												<!--<input type="text" oncopy="return false;" onpaste="return false;" oncut="return false;" vl-type="money" vl-default="0.00" id="money_je" vtitle='金额_mb_2' class="form-item text-left" jinejiaoyan="true" vl-tipsid="money_je_tips" vl-regex="['decimal']" vl-message="['交易金额必须大于0.00']" style="width: 600px;" title="money_je">-->
												<input type="text" oncopy="return false" onpaste="return false" oncut="return false" vl-type="money" vl-default="0.00" id="money_je" vtitle="金额_mb_2" class="form-item text-left money" style="width: 600px;" jinejiaoyan="true" vl-tipsid="money_je_tips" vl-regex="['decimal', 'maxlength15']" vl-message="['交易金额必须大于0.00','交易金额最大长度为15位!']" name="money_je">
												<label class="moneytips hide green">人民币CNY￥<span class="num">0.00</span><span class="cn">零元整</span></label></div>
											<div id="money_je_tips" class="tipsmsg"></div>
										</td>
									</tr>
									<tr>
										<td rowspan="1" colspan="1" class="" style="width: 0px;"><label vl-default="" id="label_bzxx" vtitle="备注信息" class="form-item text-left on" vl-tipsid="label_bzxx_tips" title="label_bzxx" name="label_bzxx">备注信息</label>
											<div id="label_bzxx_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="3" class="">
											<!--<input type="text" oncopy="return false;" oncut="return false;" vl-default="" id="txt_bzxx" vtitle='备注信息_mb_2' class="form-item text-left" vl-tipsid="txt_bzxx_tips" style="width: 600px;" >-->
											<input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_bzxx" vtitle="备注信息_mb_2" class="form-item text-left" style="width: 600px;" vl-tipsid="txt_bzxx_tips" vl-regex="['maxlength40']" vl-message="['备注最大输入长度为40!']" title="txt_bzxx" onpaste="return false" name="txt_bzxx">
											<div id="txt_bzxx_tips" class="tipsmsg"></div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="ct" style="display: none;">
							<table id="qv" class="con-map2-table qv">
								<tbody>
									<tr>
										<td class="" colspan="1" style="width: 0px;"><label vl-default="" id="label_bjzh" vtitle="补记账号" class="form-item text-left" vl-tipsid="label_bjzh_tips" title="label_bjzh" name="label_bjzh">补记账号</label>
											<div id="label_bjzh_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="3" class="">
											<!--<input  type="text" oncopy="return false;" oncut="return false;" vl-default="" id="txt_bjzh" vtitle='补记账号' class="form-item text-left on" kuaicha="true" vl-tipsid="txt_bjzh_tips" style="width: 600px;" title="txt_bjzh">-->
											<input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_bjzh" vtitle="补记账号" class="form-item text-left" style="width: 600px;" kuaicha="true" vl-tipsid="txt_bjzh_tips" vl-regex="['maxlength21', 'number']" vl-message="['补记账号最大长度为21!','补记账号格式为纯数字']" onpaste="return false" name="txt_bjzh">
											<img class="sousuo" src="/Js/Student/GetDefaultValue/img/banksousuo.png" vl-exec="false" vl-message="['补记账号查询未执行！']" title="执行快查！">
											<div id="txt_bjzh_tips" class="tipsmsg"></div>
										</td>
									</tr>
									<tr>
										<td rowspan="1" colspan="1" class="" style="width: 0px;"><label vl-default="" id="label_bjhm" vtitle="补记户名" class="form-item text-left" vl-tipsid="label_bjhm_tips" title="label_bjhm" name="label_bjhm">补记户名</label>
											<div id="label_bjhm_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="3" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_bjhm" vtitle="补记户名" class="form-item text-left on" vl-disabled="true" vl-tipsid="txt_bjhm_tips" vl-regex="['maxlength40']" vl-message="['补记户名长度大于最大长度:[40]!']" style="width: 600px;" title="txt_bjhm" onpaste="return false" disabled="disabled" name="txt_bjhm">
											<div id="txt_bjhm_tips" class="tipsmsg"></div>
										</td>
									</tr>
									<tr>
										<td rowspan="1" colspan="1" class="" style="width: 0px;"><label vl-default="" id="label_bjqye" vtitle="补记前余额" class="form-item text-left" vl-tipsid="label_bjqye_tips" title="label_bjqye" name="label_bjqye">补记前余额</label>
											<div id="label_bjqye_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class="">
											<div class="moneystyle"><input type="text" oncopy="return false" onpaste="return false" oncut="return false" vl-type="money" vl-keyup="wwww" vl-default="0.00" id="money_bjqje" vtitle="补记前余额" class="form-item text-left money" vl-disabled="true" vl-tipsid="money_bjqje_tips" style="width: 180px;" title="money_bjqje" disabled="disabled" name="money_bjqje"><label class="moneytips hide green">人民币CNY￥<span class="num">0.00</span><span class="cn">零元整</span></label></div>
											<div id="money_bjqje_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class="" style="width: 0px;"><label vl-default="" id="label_bjhye" vtitle="补记后余额" class="form-item text-left" vl-tipsid="label_bjhye_tips" title="label_bjhye" name="label_bjhye">补记后余额</label>
											<div id="label_bjhye_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class="">
											<div class="moneystyle"><input type="text" oncopy="return false" onpaste="return false" oncut="return false" vl-type="money" vl-keyup="wwww" vl-default="0.00" id="money_bjhye" vtitle="补记后余额" class="form-item text-left money" vl-disabled="true" vl-tipsid="money_bjhye_tips" style="width: 180px;" title="money_bjhye" disabled="disabled" name="money_bjhye"><label class="moneytips hide green">人民币CNY￥<span class="num">0.00</span><span class="cn">零元整</span></label></div>
											<div id="money_bjhye_tips" class="tipsmsg"></div>
										</td>
									</tr>
									<tr>
										<td rowspan="1" colspan="1" class="" style="width: 0px;"><label vl-default="" id="label_bjqytlx" vtitle="补记前预提利息" class="form-item text-left" vl-tipsid="label_bjqytlx_tips" title="label_bjqytlx" name="label_bjqytlx">补记前预提利息</label>
											<div id="label_bjqytlx_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class="">
											<div class="moneystyle"><input type="text" oncopy="return false" onpaste="return false" oncut="return false" vl-type="money" vl-keyup="wwww" vl-default="0.00" id="money_bjqytlx" vtitle="补记前预提利息" class="form-item text-left money" vl-disabled="true" vl-tipsid="money_bjqytlx_tips" vl-regex="['maxlength16']" vl-message="['补记前预提利息长度大于最大长度:[16]!']" style="width: 180px;" title="money_bjqytlx" disabled="disabled" name="money_bjqytlx"><label class="moneytips hide green">人民币CNY￥<span class="num">0.00</span><span class="cn">零元整</span></label></div>
											<div id="money_bjqytlx_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class="" style="width: 0px;"><label vl-default="" id="label_bjhytlx" vtitle="补记后预提利息" class="form-item text-left" vl-tipsid="label_bjhytlx_tips" title="label_bjhytlx" name="label_bjhytlx">补记后预提利息</label>
											<div id="label_bjhytlx_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class="">
											<div class="moneystyle"><input type="text" oncopy="return false" onpaste="return false" oncut="return false" vl-type="money" vl-keyup="wwww" vl-default="0.00" id="money_bjhytlx" vtitle="补记后预提利息" class="form-item text-left money" vl-disabled="true" vl-tipsid="money_bjhytlx_tips" vl-regex="['maxlength16']" vl-message="['冲正后预提利息长度大于最大长度:[16]!']" style="width: 180px;" title="money_bjhytlx" disabled="disabled" name="money_bjhytlx"><label class="moneytips hide green">人民币CNY￥<span class="num">0.00</span><span class="cn">零元整</span></label></div>
											<div id="money_bjhytlx_tips" class="tipsmsg"></div>
										</td>
									</tr>
									<tr>
										<td rowspan="1" colspan="1" class="" style="width: 0px;"><label vl-default="" id="label_je1" vtitle="金ii额" class="form-item text-left" vl-tipsid="label_je1_tips" title="label_je1" name="label_je1">金<i></i><i></i>额</label>
											<div id="label_je1_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="3" class="">
											<div class="moneystyle"><input type="text" oncopy="return false" onpaste="return false" oncut="return false" vl-type="money" vl-keyup="wwww" vl-default="0.00" id="money_je1" vtitle="金额" class="form-item text-left on money" vl-disabled="true" kuaicha="true" vl-tipsid="money_je1_tips" style="width: 600px;" title="money_je1" disabled="disabled" name="money_je1"><img class="sousuo" src="/Js/Student/GetDefaultValue/img/banksousuo.png" vl-exec="false" vl-message="['金额查询未执行！']" title="执行快查！"><label class="moneytips hide green">人民币CNY￥<span class="num">0.00</span><span class="cn">零元整</span></label></div>
											<div id="money_je1_tips" class="tipsmsg"></div>
										</td>
									</tr>
									<tr>
										<td rowspan="1" colspan="1" class="" style="width: 0px;"><label vl-default="" id="label_bjpzzl" vtitle="补记凭证种类" class="form-item text-left" vl-tipsid="label_bjpzzl_tips" title="label_bjpzzl" name="label_bjpzzl">补记凭证种类</label>
											<div id="label_bjpzzl_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class="">
											<div class="slectstyle">
												<select vl-default="299" id="sle_bjpzzl" vtitle="补记凭证种类" class="form-item text-left on" vl-tipsid="sle_bjpzzl_tips" style="width: 180px;" title="sle_bjpzzl" vl-slemodel="" name="sle_bjpzzl">
													<option disabled="" style="background-color: blue; color: #fff;" value="">补记凭证种类值含义</option>
													<option value="015">015 - 转账支票</option>
													<option value="299">299 - 内部账</option>
												</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 157px;" id="mb2_sleinput_BuJiPingZhengZhongLei_36" name="mb2_sleinput_BuJiPingZhengZhongLei_36"></div>
											<div id="sle_bjpzzl_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class="" style="width: 0px;"><label vl-default="" id="label_bjpzhm" vtitle="补记凭证号码" class="form-item text-left" vl-tipsid="label_bjpzhm_tips" title="label_bjpzhm" name="label_bjpzhm">补记凭证号码</label>
											<div id="label_bjpzhm_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-keyup="wwww" vl-default="0.00" id="txt_bjpzhm" vtitle="补记凭证号码" class="form-item text-left" vl-disabled="true" kuaicha="true" vl-tipsid="txt_bjpzhm_tips" vl-regex="['maxlength16']" vl-message="['补记后预提利息长度大于最大长度:[16]!']" style="width: 180px;" onpaste="return false" disabled="disabled" name="txt_bjpzhm"><img class="sousuo" src="/Js/Student/GetDefaultValue/img/banksousuo.png" vl-exec="false" vl-message="['补记凭证号码查询未执行！']" title="执行快查！">
											<div id="txt_bjpzhm_tips" class="tipsmsg"></div>
										</td>
									</tr>
									<tr>
										<td rowspan="1" colspan="1" class="" style="width: 0px;"><label vl-default="" id="label_cprq" vtitle="出票日期" class="form-item text-left" vl-tipsid="label_cprq_tips" title="label_cprq" name="label_cprq">出票日期</label>
											<div id="label_cprq_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="20150910" id="txt_cpri" vtitle="出票日期" class="form-item text-left on" vl-tipsid="txt_cpri_tips" style="width: 180px;" title="txt_cpri" onpaste="return false" name="txt_cpri">
											<div id="txt_cpri_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class="" style="width: 0px;"><label vl-default="" id="label_zfmm" vtitle="支付密码" class="form-item text-left" vl-tipsid="label_zfmm_tips" title="label_zfmm" name="label_zfmm">支付密码</label>
											<div id="label_zfmm_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class=""><input type="password" oncopy="return false" onpaste="return false" oncut="return false" vl-default="" id="pwd_zfmm" vtitle="支付密码" class="form-item text-left" vl-disabled="true" vl-tipsid="pwd_zfmm_tips" vl-regex="['minlength6', 'maxvalue6', 'number']" vl-message="['支付密码长度为:[6]!','支付密码长度为:[6]!','支付密码输入错误!']" style="width: 180px;" title="pwd_zfmm" disabled="disabled" name="pwd_zfmm">
											<div id="pwd_zfmm_tips" class="tipsmsg"></div>
										</td>
									</tr>
									<tr>
										<td rowspan="1" colspan="1" class="" style="width: 0px;"><label vl-default="" id="label_yyy" vtitle="验s印s域" class="form-item text-left" vl-tipsid="label_yyy_tips" title="label_yyy" name="label_yyy">验<s></s>印<s></s>域</label>
											<div id="label_yyy_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="" id="txt_yyy" vtitle="验印域" class="form-item text-left on" vl-disabled="true" vl-tipsid="txt_yyy_tips" style="width: 180px;" title="txt_yyy" onpaste="return false" disabled="disabled" name="txt_yyy">
											<div id="txt_yyy_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class="" style="width: 0px;"><label vl-default="" id="label_yyjg" vtitle="验印结果" class="form-item text-left" vl-tipsid="label_yyjg_tips" title="label_yyjg" name="label_yyjg">验印结果</label>
											<div id="label_yyjg_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="1" class="">
											<div class="slectstyle">
												<select vl-default="" id="sle_yyjg" vtitle="验印结果" class="form-item text-left" vl-disabled="true" vl-tipsid="sle_yyjg_tips" style="width: 180px;" title="sle_yyjg" vl-slemodel="" disabled="disabled" name="sle_yyjg">
													<option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">验印结果值含义</option>
													<option value="1">1 - 未验印</option>
													<option value="2">2 - 自动验印通过</option>
													<option value="3">3 - 自动验印不通过</option>
													<option value="4">4 - 人工验印通过</option>
													<option value="5">5 - 人工验印不通过</option>
													<option value="6">6 - 配准通过</option>
												</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" disabled="disabled" style="width: 157px;" id="mb2_sleinput_YanYinJieGuo_46" name="mb2_sleinput_YanYinJieGuo_46"></div>
											<div id="sle_yyjg_tips" class="tipsmsg"></div>
										</td>
									</tr>
									<tr>
										<td rowspan="1" colspan="1" class="" style="width: 0px;"><label vl-default="" id="label_bzxx1" vtitle="备注信息" class="form-item text-left on" vl-tipsid="label_bzxx1_tips" title="label_bzxx1" name="label_bzxx1">备注信息</label>
											<div id="label_bzxx1_tips" class="tipsmsg"></div>
										</td>
										<td rowspan="1" colspan="3" class=""><input type="text" oncopy="return false" oncut="return false" vl-keyup="wwww" vl-default="" id="txt_bzxx1" vtitle="备注信息" class="form-item text-left" vl-disabled="true" kuaicha="true" vl-tipsid="txt_bzxx1_tips" style="width: 600px;" title="txt_bzxx1" onpaste="return false" disabled="disabled" name="txt_bzxx1"><img class="sousuo" src="/Js/Student/GetDefaultValue/img/banksousuo.png" vl-exec="false" vl-message="['备注信息查询未执行！']" title="执行快查！">
											<div id="txt_bzxx1_tips" class="tipsmsg"></div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="foot "> <span>                                        <button>退出（F3）</button>                                        <button>帮助（F1）</button>                                        <button>辅助（F4）</button>                                        <button type="button" onclick="FormReset()">重置（F5）</button></span> <span style="float: right;">                                        <button type="button" style="margin-right: 0px;" vl-submit="true" id="btnsubmit" onclick="SubmitForm()">提交</button></span> </div>
			<input type="hidden" class="hidmainwidth" value="1000/" oncopy="return false" onpaste="return false" oncut="return false"> </div>
@*<script src="~/Js/Student/GetDefaultValue/js/czbj.js"></script>*@
@*<script type="text/javascript">
    // $(function () {
    //     $("#iframeID").attr("src", _ip + encodeURI("commontable?fields=lsh|流水号,zh|账号,zhxh|账户序号,hm|户名,bz|币种,jdbz|借贷标志,je|金额,xzbz|现转标志,zy|摘要,khjg|开户结构,pzzl|凭证种类&table=tb_daily_czbj_01&orderby=id&is_page=false"));
    // });

    $(document).ready(function(){
	    var planid = getQueryString("planid");
	    //冻结止付历史查询回车事件
	    var bdFrame = _ip + encodeURI("commontable?fields=lsh|流水号,zh|账号,zhxh|账户序号,hm|户名,bz|币种,jdbz|借贷标志,je|金额,xzbz|现转标志,zy|摘要,khjg|开户结构,pzzl|凭证种类,pzhm|凭证号码,jyjg|交易机构,gyh|柜员号,zjlx|证件类型,zjhm|证件号码,dlrzjlx|代理人证件类型,dlrzjhm|代理人证件号码,dlrxm|代理人姓名,dlrlxfs|代理人联系方式,dsfzh|对手方账号,dsfhm|对手方户名,dsfhh|对手方行号,dsfhangm|对手方行名,dsfzhsx|对手方账户属性,cxbz|撤销标志,ylsh|原流水号&table=tb_daily_czbj_01&orderby=id&is_page=false");
		$("#txt_ylsh").keydown(function(e){
			if(e.keyCode == 13) {
				$("#iframeID").attr("src",bdFrame + "&where=and plan_id="+planid+" and lsh ={" + $(this).val() + "}").addClass("ba-iframe");
			}
		})
	});
	 function getQueryString(name) {
	     var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
	     var r = window.location.search.substr(1).match(reg);
	     if (r != null) return unescape(r[2]);
	     return null;
	 }

</script>*@
<link href="~/Js/Student/GetDefaultValue/js/common.bank.css" rel="stylesheet" />
              </form>
