@{
                    ViewBag.Title = "Form_080703";
                    Layout = "~/Views/Shared/_AdminLayoutIsNull.cshtml";
                }
               <script src="~/Js/Admin/AdminForm.js"></script>
               <script src="~/Js/Admin/CaseManagement/AddDefaultValue.js"></script>
               <form id="form1" onsubmit="return false" action="##" method="post">
                  <input type="hidden" id="TaskId" name="TaskId" value="@Request["TaskId"]" />
                  <input type="hidden" id="CustomerId" name="CustomerId" value="@Request["CustomerId"]" />
                  <input type="hidden" id="FormId" name="FormId" value="@Request["FormId"]" />
                  <input type="hidden" id="Types" name="Types" value="@Request["Types"]" />
                <!--内容表单区域开始-->
            <div class="tables bankmap">
			<div class="banktop"> <span class="toolbar-title-img">                                        <img src="../busi/img/topleft.png">04405-柜员交接</span> <span class="toolbar-title-close" style="display: none;">                                        </span> </div>
			<div class="con-map2 selected">
				<table id="qv" class="con-map2-table qv">
					<tbody>
						<tr>
							<td class="" rowspan="1" colspan="1" style="width: 64px;"><label vl-default="" id="label_jjrq" vtitle="交接日期" class="form-item text-left" vl-tipsid="label_jjrq_tips" style="width: 80px;" title="label_jjrq" name="label_jjrq">交接日期</label>
								<div id="label_jjrq_tips" class="tipsmsg"></div>
							</td>
							<td class="" rowspan="1" colspan="3"><input type="text" class="date form-item text-left" vl-default="20170505" id="date_jjrq" vtitle="交接日期" vl-tipsid="date_jjrq_tips" vl-regex="['maxlength8', 'tdate', 'number']" vl-message="['','请输入正确的交易日期（如：19000101）!','交易日期输入错误!']" style="width: 600px;" title="date_jjrq" oncopy="return false" onpaste="return false" oncut="return false" name="date_jjrq"><img onclick="WdatePicker({el:'date_jjrq',dateFmt:'yyyyMMdd'})" src="/js/My97DatePicker/skin/datePicker.gif" align="absmiddle" style="width:16px;height:22px;margin-left:6px;">
								<div id="date_jjrq_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_jjgy" vtitle="交接柜员" class="form-item text-left" vl-tipsid="label_jjgy_tips" style="width: 80px;" title="label_jjgy" name="label_jjgy">交接柜员</label>
								<div id="label_jjgy_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="3" class="">
								<div class="slectstyle">
									<select vl-default="" id="sle_jjgy" vtitle="交接柜员" class="form-item text-left" kuaicha="true" vl-tipsid="sle_jjgy_tips" vl-regex="['require']" vl-message="['交易柜员不能为空！']" style="width: 600px;" title="sle_jjgy" vl-slemodel="sle_jjnr,money_xjje,txt_pzzs" name="sle_jjgy">
										<option disabled="" style="background-color: blue; color: #fff;" value="" selected="selected">交接柜员值含义</option>
										<option sle-require="[{" 'id':="" 'sle_jjnr',="" 'regex':[="" 'require'],="" 'tips':[="" ''],="" 'disabled':="" 'true',="" 'default':="" '1'},{="" 'money_xjje',="" '12100'},{="" 'txt_pzzs',="" '53'}]="" value="106510">106510 - 赵晓莉</option>
										<option value="120527">120527 - 舒江</option>
										<option value="125138">125138 - 张雯</option>
										<option value="128992">128992 - 冉秀娟</option>
										<option value="133697">133697 - 王廷凤</option>
										<option value="134700">134700 - 李逍</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" style="width: 577px;" id="mb1_sleinput_JiaoJieGuiYuan_4" name="mb1_sleinput_JiaoJieGuiYuan_4"><img class="sousuo" src="/Js/Student/GetDefaultValue/img/banksousuo.png" vl-select="money_xjje|0|0,txt_pzzs|0|0" vl-exec="false" vl-message="['交接柜员查询未执行！']" title="执行快查！"><span class="text-red redtip">!</span></div>
								<div id="sle_jjgy_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_jjnr" vtitle="交接内容" class="form-item text-left" vl-tipsid="label_jjnr_tips" style="width: 80px;" title="label_jjnr" name="label_jjnr">交接内容</label>
								<div id="label_jjnr_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="3" class="">
								<div class="slectstyle">
									<select vl-default="1" id="sle_jjnr" vtitle="交接内容" class="form-item text-left" vl-disabled="true" vl-tipsid="sle_jjnr_tips" style="width: 600px;" vl-slemodel="" disabled="disabled" name="sle_jjnr">
										<option disabled="" style="background-color: blue; color: #fff;" value="">交接内容值含义</option>
										<option value="1">1 - 全部</option>
									</select><input type="text" oncopy="return false" onpaste="return false" oncut="return false" disabled="disabled" style="width: 577px;" id="mb1_sleinput_JiaoJieNaRong_6" name="mb1_sleinput_JiaoJieNaRong_6"></div>
								<div id="sle_jjnr_tips" class="tipsmsg"></div>
							</td>
						</tr>
						<tr>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_xjje" vtitle="现金金额" class="form-item text-left" vl-tipsid="label_xjje_tips" title="label_xjje" name="label_xjje">现金金额</label>
								<div id="label_xjje_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="">
								<div class="moneystyle"><input type="text" oncopy="return false" onpaste="return false" oncut="return false" vl-type="money" vl-default="0.00" id="money_xjje" vtitle="现金金额" class="form-item text-left money" vl-disabled="true" vl-tipsid="money_xjje_tips" style="width: 180px;" title="money_xjje" disabled="disabled" name="money_xjje"><label class="moneytips hide green">人民币CNY￥<span class="num">0.00</span><span class="cn">零元整</span></label></div>
								<div id="money_xjje_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class="" style="width: 64px;"><label vl-default="" id="label_pzzs" vtitle="凭证总数" class="form-item text-left" vl-tipsid="label_pzzs_tips" style="width: 80px;" title="label_pzzs" name="label_pzzs">凭证总数</label>
								<div id="label_pzzs_tips" class="tipsmsg"></div>
							</td>
							<td rowspan="1" colspan="1" class=""><input type="text" oncopy="return false" oncut="return false" vl-default="0" id="txt_pzzs" vtitle="凭证总数" class="form-item text-left" vl-disabled="true" vl-tipsid="txt_pzzs_tips" style="width: 180px;" title="txt_pzzs" onpaste="return false" disabled="disabled" name="txt_pzzs">
								<div id="txt_pzzs_tips" class="tipsmsg"></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="con-map2">
				<div class="box">
					<ul class="tab">
						<li title="tab_0_0" id="tab_0_0" class="tab_0_0 one">现金明细</li>
						<li title="tab_0_1" id="tab_0_1" class="tab_0_1">凭证明细</li>
					</ul>
					<div class="content">
					<iframe id="iframeID" name="iframeID" style="width: 100%;height: 400px; border:none; " src="http://bsi1.occupationedu.com/commontable/?fields=gyh%7C%E6%9F%9C%E5%91%98%E5%8F%B7,gymc%7C%E6%9F%9C%E5%91%98%E5%90%8D%E7%A7%B0,qxye%7C%E9%92%B1%E7%AE%B1%E4%BD%99%E9%A2%9D,zrye%7C%E6%98%A8%E6%97%A5%E4%BD%99%E9%A2%9D,bz%7C%E5%B8%81%E7%A7%8D,ssxe%7C%E5%AE%9E%E6%97%B6%E9%99%90%E9%A2%9D,rzxe%7C%E6%97%A5%E7%BB%88%E9%99%90%E9%A2%9D,qxzt%7C%E9%92%B1%E7%AE%B1%E7%8A%B6%E6%80%81&amp;table=tb_daily_gyjj&amp;orderby=id&amp;page=1&amp;pagesize=10&amp;is_page=true&amp;toolbar=true&amp;where=%20and%201!=1"></iframe>
					</div>
				</div>
			</div>
			<div class="foot "> <span>                                        <button>退出（F3）</button>                                        <button>帮助（F1）</button>                                        <button>辅助（F4）</button>                                        <button type="button" onclick="FormReset()">重置（F5）</button></span> <span style="float: right;">                                        <button type="button" style="margin-right: 0px;" vl-submit="true" id="btnsubmit" onclick="SubmitForm()">提交</button></span> </div>
			<input type="hidden" class="hidmainwidth" value="1000/" oncopy="return false" onpaste="return false" oncut="return false"> </div>
@*<script src="~/Js/Student/GetDefaultValue/js/gyjj.js"></script>
<script type="text/javascript">
            $(function () {
                $("#iframeID").attr("src", _ip + encodeURI("commontable/?fields=gyh|柜员号,gymc|柜员名称,qxye|钱箱余额,zrye|昨日余额,bz|币种,ssxe|实时限额,rzxe|日终限额,qxzt|钱箱状态&table=tb_daily_gyjj&orderby=id&page=1&pagesize=10&is_page=true&toolbar=true&where= and 1!=1"));
    });
    
</script>*@
<link href="~/Js/Student/GetDefaultValue/js/common.bank.css" rel="stylesheet" />
              </form>
