@{
    Layout = null;
}
@model List<TodoApp.WebFramework.Models.Product>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <a href="Add">Add</a>
        <table border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>CategoryName</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Category.CategoryName</td>
                        <td><a href="@Url.Action("Add")?id=@item.Id">update</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
