.from_map09 {
    width: 1100px;
    margin: auto;
    margin-top: 20px;
    position: relative;
    background: url(../img/danjuimg/menu09.jpg) no-repeat top;
    width: 1100px;
    height: 1600px;
}

.site1 {
	width: 420px;
	height: 25px;
	left: 215px;
	top: 100px;
}

.site2 {
	width: 270px;
	height: 25px;
	left: 755px;
	top: 100px;
}

.site3 {
	width: 420px;
	height: 25px;
	left: 215px;
	top: 133px;
}

.site4 {
	width: 270px;
	height: 25px;
	left: 755px;
	top: 133px;
}

.site5 {
	width: 275px;
	height: 25px;
	left: 215px;
	top: 167px;
}

.site6 {
	width: 375px;
	height: 25px;
	left: 655px;
	top: 167px;
}

.site7 {
	left: 151px;
	top: 201px;
}

.site8 {
	left: 122px;
	top: 230px;
}

.site9 {
	width: 720px;
	height: 25px;
	left: 308px;
	top: 199px;
}

.site10 {
	width: 240px;
	height: 25px;
	left: 308px;
	top: 232px;
}

.site11 {
	width: 375px;
	height: 25px;
	left: 655px;
	top: 232px;
}

.site12 {
	left: 192px;
	top: 268px;
}

.site13 {
	left: 245px;
	top: 268px;
}

.site14 {
	left: 298px;
	top: 268px;
}

.site15 {
	left: 352px;
	top: 268px;
}

.site16 {
	left: 408px;
	top: 268px;
}

.site17 {
	left: 461px;
	top: 268px;
}

.site18 {
	left: 515px;
	top: 268px;
}

.site19 {
	left: 572px;
	top: 268px;
}

.site20 {
	left: 625px;
	top: 268px;
}

.site21 {
	left: 678px;
	top: 268px;
}

.site22 {
	left: -95px;
	top: 297px;
}

.site23 {
	left: -42px;
	top: 297px;
}

.site24 {
	left: 13px;
	top: 297px;
}

.site25 {
	left: 66px;
	top: 297px;
}

.site26 {
	left: 121px;
	top: 297px;
}

.site27 {
	left: 174px;
	top: 297px;
}

.site28 {
	left: 228px;
	top: 297px;
}

.site29 {
	left: 285px;
	top: 297px;
}

.site30 {
	left: 338px;
	top: 297px;
}

.site31 {
	left: 392px;
	top: 297px;
}

.site32 {
	width: 180px;
	height: 25px;
	left: 275px;
	top: 332px;
}

.site33 {
	width: 180px;
	height: 25px;
	left: 275px;
	top: 332px;
}

.site34 {
	width: 125px;
	height: 25px;
	left: 510px;
	top: 332px;
}

.site35 {
	width: 285px;
	height: 25px;
	left: 753px;
	top: 332px;
}

.site36 {
	width: 800px;
	height: 25px;
	left: 215px;
	top: 370px;
}

.site37 {
	width: 270px;
	height: 25px;
	left: 215px;
	top: 405px;
}

.site38 {
	width: 370px;
	height: 25px;
	left: 650px;
	top: 405px;
}

.site39 {
	width: 270px;
	height: 25px;
	left: 215px;
	top: 440px;
}

.site40 {
	width: 370px;
	height: 25px;
	left: 650px;
	top: 440px;
}

.site41 {
	width: 270px;
	height: 25px;
	left: 215px;
	top: 473px;
}

.site42 {
	width: 370px;
	height: 25px;
	left: 650px;
	top: 473px;
}

.site43 {
	left: -350px;
	top: 545px;
}

.site44 {
	left: -245px;
	top: 545px;
}

.site45 {
	left: -142px;
	top: 545px;
}

.site46 {
	left: -40px;
	top: 545px;
}

.site47 {
	width: 75px;
	height: 25px;
	left: 655px;
	top: 580px;
}

.site48 {
	width: 55px;
	height: 25px;
	left: 760px;
	top: 580px;
}

.site49 {
	width: 55px;
	height: 25px;
	left: 845px;
	top: 580px;
}

.site50 {
	width: 720px;
	height: 25px;
	left: 308px;
	top: 671px;
}

.site51 {
	width: 275px;
	height: 25px;
	left: 348px;
	top: 702px;
}

.site52 {
	width: 275px;
	height: 25px;
	left: 760px;
	top: 702px;
}

.site54 {
	left: -585px;
	top: 737px;
}

.site55 {
	left: -614px;
	top: 766px;
}

.site56 {
	width: 720px;
	height: 25px;
	left: 308px;
	top: 734px;
}

.site57 {
	width: 240px;
	height: 25px;
	left: 308px;
	top: 766px;
}

.site58 {
	width: 375px;
	height: 25px;
	left: 655px;
	top: 766px;
}

.site59 {
	width: 820px;
	height: 25px;
	left: 215px;
	top: 861px;
}

.site60 {
	width: 315px;
	height: 25px;
	left: 215px;
	top: 892px;
}

.site61 {
	width: 375px;
	height: 25px;
	left: 655px;
	top: 892px;
}

.site62 {
	width: 820px;
	height: 25px;
	left: 215px;
	top: 924px;
}

.site63 {
	width: 290px;
	height: 25px;
	left: 365px;
	top: 956px;
}

.site64 {
	width: 350px;
	height: 25px;
	left: 685px;
	top: 956px;
}

.site65 {
	width: 50px;
	height: 25px;
	left: 309px;
	top: 1090px;
}

.site66 {
	width: 55px;
	height: 25px;
	left: 140px;
	top: 1120px;
}

.site67 {
	width: 35px;
	height: 25px;
	left: 216px;
	top: 1120px;
}

.site68 {
	width: 35px;
	height: 25px;
	left: 267px;
	top: 1120px;
}

.site69 {
	width: 131px;
	height: 25px;
	left: 526px;
	top: 990px;
}

.site70 {
	width: 165px;
	height: 25px;
	left: 495px;
	top: 1046px;
}

.site71 {
	width: 55px;
	height: 25px;
	left: 460px;
	top: 1120px;
}

.site72 {
	width: 35px;
	height: 25px;
	left: 540px;
	top: 1120px;
}

.site73 {
	width: 35px;
	height: 25px;
	left: 594px;
	top: 1120px;
}

.site74 {
	width: 150px;
	height: 25px;
	left: 856px;
	top: 990px;
}

.site75 {
	width: 165px;
	height: 25px;
	left: 825px;
	top: 1046px;
}

.site76 {
	width: 55px;
	height: 25px;
	left: 820px;
	top: 1120px;
}

.site77 {
	width: 35px;
	height: 25px;
	left: 900px;
	top: 1120px;
}

.site78 {
	width: 35px;
	height: 25px;
	left: 955px;
	top: 1120px;
}