.from_map04 {
	width: 1100px;
	margin: auto;
	margin-top: 20px;
	position: relative;
	background: url(../img/danjuimg/menu04.jpg) no-repeat top;
	width: 1100px;
	height: 1600px;
}

.site1 {
	width: 70px;
	height: 20px;
	left: 425px;
	top: 63px;
}


.site2 {
	width: 30px;
	height: 20px;
	left: 520px;
	top: 63px;
}

.site3 {
	width: 30px;
	height: 20px;
	left: 570px;
	top: 63px;
}


.site4 {
	width: 230px;
	height: 20px;
	left: 695px;
	top: 63px;
}


.site5 {
    width: 115px;
    height: 20px;
    left: 171px;
    top: 100px;
}

.site6 {
width: 515px;
    height: 20px;
    left: 436px;
    top: 100px;
}


.site7 {
        left: 175px;
    top: 140px;
}



.site8 {
        left: 273px;
    top: 140px;
}


.site9 {
        left: 486px;
    top: 140px;
}

.site10 {
        left: 566px;
    top: 140px;
}


.site11 {
width: 315px;
    height: 20px;
    left: 689px;
    top: 135px;
}


.site12 {
width: 395px;
    height: 20px;
    left: 171px;
    top: 170px;
}


.site12 {
width: 395px;
    height: 20px;
    left: 171px;
    top: 170px;
}


.site13 {
width: 395px;
    height: 20px;
    left: 639px;
    top: 170px;
}

.site14 {
    width: 695px;
    height: 20px;
    left: 305px;
    top: 220px;
}

.site15 {
    width: 695px;
    height: 20px;
    left: 305px;
    top: 287px;
}


.site16 {
    width: 195px;
    height: 20px;
    left: 345px;
    top: 319px;
}


.site17 {
 width: 315px;
height: 20px;
left: 685px;
top: 319px;
}


.site18 {
    width: 170px;
    height: 20px;
    left: 216px;
    top: 370px;
}


.site19 {
    width: 470px;
    height: 20px;
    left: 545px;
    top: 370px;
}



.site20 {
    left: 60px;
    top: 406px;
}



.site21 {
        left: 158px;
    top: 406px;
}


.site22 {
        left: 372px;
    top: 406px;
}

.site23 {
        left: 451px;
    top: 406px;
}


.site24 {
width: 315px;
    height: 20px;
    left: 689px;
    top: 402px;
}


.site25 {
width: 395px;
    height: 20px;
    left: 175px;
    top: 435px;
}


.site26 {
width: 275px;
    height: 20px;
    left: 730px;
    top: 435px;
}



.site27 {
width: 195px;
    height: 20px;
    left: 175px;
    top: 467px;
}


.site28 {
    width: 475px;
    height: 20px;
    left: 540px;
    top: 467px;
}

.site29 {
width: 940px;
    height: 700px;
    left: 50px;
    top: 550px;
}


.site30 {
width: 275px;
    height: 20px;
    left: 240px;
    top: 1465px;
}
