.from_map012 {
    width: 1100px;
    margin: auto;
    margin-top: 20px;
    position: relative;
    background: url(../img/danjuimg/menu012.jpg) no-repeat top;
    width: 1100px;
    height: 630px;
    background-size: 100%;
}

.site1 {
    width: 330px;
    height: 30px;
    left: 153px;
    top: 145px;
}


.site2 {
    width: 410px;
    height: 30px;
    left: 560px;
    top: 145px;
}


.site3 {
    width: 379px;
    height: 43px;
    left: 238px;
    top: 239px;
}

.site4 {
    width: 140px;
    height: 30px;
    left: 714px;
    top: 257px;
}


.site5 {
     width: 80px;
    height: 25px;
    left: 109px;
    top: 352px;
}

.site6 {
     width: 80px;
    height: 25px;
    left: 193px;
    top: 352px;
}


.site7 {
    width: 108px;
    height: 25px;
    left: 277px;
    top: 352px;
}


.site8 {
    width: 108px;
    height: 25px;
    left: 389px;
    top: 352px;
}

.site9 {
    width: 101px;
    height: 25px;
    left: 499px;
    top: 352px;
}

.site10 {
width: 110px;
    height: 25px;
    left: 604px;
    top: 352px;
}

.site11 {
width: 105px;
    height: 25px;
    left: 718px;
    top: 352px;
}

.site12 {
width: 146px;
    height: 25px;
    left: 828px;
    top: 352px;
}


.site13 {
    width: 106px;
    height: 25px;
    left: 109px;
    top: 432px;
}

.site14{
width: 210px;
    height: 25px;
    left: 220px;
    top: 432px;
}


.site15{
width: 132px;
    height: 25px;
    left: 444px;
    top: 432px;
}


.site16{
width: 83px;
    height: 25px;
    left: 584px;
    top: 432px;
}


.site17{
width: 200px;
    height: 25px;
    left: 674px;
    top: 432px;
}


.site18{
width: 88px;
    height: 25px;
    left: 882px;
    top: 432px;
}



.site19{
    width: 100px;
    height: 25px;
    left: 155px;
    top: 470px;
}


.site20{
    width: 100px;
    height: 25px;
    left: 345px;
    top: 470px;
}


.site21{
    width: 100px;
    height: 25px;
    left: 500px;
    top: 470px;
}


.site22{
    width: 100px;
    height: 25px;
    left: 690px;
    top: 470px;
}

.site23{
    width: 100px;
    height: 25px;
    left: 850px;
    top: 470px;
}