.from_map014 {
	width: 930px;
	margin: auto;
	margin-top: 20px;
	position: relative;
	background: url(../img/danjuimg/menu014.jpg) no-repeat top;
	height: 880px;
}



.site1 {
width:50px;
    height: 30px;
    left: 395px;
    top: 147px;
}


.site2 {
width:32px;
    height: 30px;
    left: 470px;
    top: 147px;
}

.site3 {
width:32px;
    height: 30px;
    left: 522px;
    top: 147px;
}

.site4 {
width:88px;
    height: 30px;
    left: 750px;
    top: 147px;
}

.site5 {
    width: 555px;
    height: 35px;
    left: 270px;
    top: 215px;
}

.site6 {
    width: 455px;
    height: 25px;
    left: 345px;
    top: 265px;
}

.site7 {
    width: 170px;
    height: 25px;
    left: 120px;
    top: 318px;
}


.site8 {
    width: 215px;
    height: 25px;
    left: 360px;
    top: 318px;
}

.site8 {
    width: 180px;
    height: 25px;
    left: 645px;
    top: 318px;
}





.site9 {
    width: 230px;
    height: 20px;
    left: 70px;
    top: 423px;
}
.site10 {
    width: 280px;
    height: 20px;
    left: 305px;
    top: 423px;
}

.site11 {
    width: 240px;
    height: 18px;
    left: 590px;
    top: 423px;
}


.site12 {
    width: 230px;
    height: 18px;
    left: 70px;
    top: 447px;
}

.site13 {
    width: 280px;
    height: 19px;
    left: 305px;
    top: 447px;
}

.site14 {
    width: 240px;
    height: 19px;
    left: 590px;
    top: 447px;
}



.site15 {
    width: 230px;
    height: 18px;
    left: 70px;
    top: 473px;
}

.site16 {
    width: 280px;
    height: 19px;
    left: 305px;
    top: 473px;
}

.site17 {
    width: 240px;
    height: 19px;
    left: 590px;
    top: 473px;
}


.site18 {
    width: 230px;
    height: 18px;
    left: 70px;
    top: 497px;
}

.site19 {
    width: 280px;
    height: 19px;
    left: 305px;
    top: 497px;
}

.site20 {
    width: 240px;
    height: 19px;
    left: 590px;
    top: 497px;
}


.site21 {
    width: 230px;
    height: 18px;
    left: 70px;
    top: 520px;
}

.site22 {
    width: 280px;
    height: 19px;
    left: 305px;
    top: 520px;
}

.site23 {
    width: 240px;
    height: 19px;
    left: 590px;
    top: 520px;
}


.site24 {
    width: 160px;
    height: 25px;
    left: 125px;
    top: 551px;
}


.site25 {
    width: 220px;
    height: 25px;
    left: 605px;
    top: 551px;
}


.site26 {
width: 560px;
    height: 25px;
    left: 265px;
    top: 625px;
}

.site27 {
width: 250px;
    height: 25px;
    left: 365px;
    top: 695px;
}


.site28 {
    width: 200px;
    height: 25px;
    left: 240px;
    top: 755px;

}


.site29 {
width: 175px;
    height: 25px;
    left: 665px;
    top: 755px;

}


.site30 {
width: 220px;
    height: 25px;
    left: 360px;
    top: 318px;

}
