.from_map05 {
	width: 1100px;
	margin: auto;
	margin-top: 20px;
	position: relative;
	background: url(../img/danjuimg/menu05.jpg) no-repeat top;
	width: 1100px;
	height: 1600px;
}

.site1 {
	width: 120px;
	height: 40px;
	left: 315px;
	top: 103px;
}

.site2 {
	width: 165px;
	height: 40px;
	left: 590px;
	top: 103px;
}

.site3 {
	left: 807px;
	top: 98px;
}

.site4 {
	left: 779px;
	top: 121px;
}

.site5 {
	left: 801px;
	top: 110px;
}

.site6 {
	left: 772px;
	top: 128px;
}

.site7 {
	left: 192px;
	top: 148px;
}

.site8 {
	left: 163px;
	top: 164px;
}

.site9 {
	width: 445px;
	height: 20px;
	left: 590px;
	top: 156px;
}

.site10 {
	width: 83px;
	height: 20px;
	left: 313px;
	top: 189px;
}

.site11 {
	width: 95px;
	height: 20px;
	left: 426px;
	top: 189px;
}

.site12 {
	width: 167px;
	height: 20px;
	left: 672px;
	top: 189px;
}

.site13 {
	left: 742px;
	top: 188px;
}

.site14 {
	left: 780px;
	top: 188px;
}

.site15 {
	width: 120px;
	height: 20px;
	left: 920px;
	top: 222px;
}

.site16 {
	width: 55px;
	height: 20px;
	left: 313px;
	top: 222px;
}

.site17 {
	width: 30px;
	height: 20px;
	left: 390px;
	top: 222px;
}

.site18 {
	width: 30px;
	height: 20px;
	left: 440px;
	top: 222px;
}

.site19 {
	width: 160px;
	height: 20px;
	left: 673px;
	top: 222px;
}

.site20 {
	width: 520px;
	height: 33px;
	left: 313px;
	top: 252px;
}

.site21 {
	left: 685px;
	top: 258px;
}

.site22 {
	left: 724px;
	top: 258px;
}

.site23 {
	left: 32px;
	top: 290px;
}

.site24 {
	left: 137px;
	top: 290px;
}

.site25 {
	left: 272px;
	top: 290px;
}

.site26 {
	width: 125px;
	height: 30px;
	left: 918px;
	top: 295px;
}

.site27 {
	width: 125px;
	height: 70px;
	left: 315px;
	top: 337px;
}

.site28 {
	left: 107px;
	top: 352px;
}

.site29 {
	left: 79px;
	top: 377px;
}

.site30 {
	width: 210px;
	height: 20px;
	left: 628px;
	top: 334px;
}

.site31 {
	width: 210px;
	height: 20px;
	left: 628px;
	top: 362px;
}

.site32 {
	width: 210px;
	height: 20px;
	left: 628px;
	top: 391px;
}

.site33 {
	width: 124px;
	height: 75px;
	left: 918px;
	top: 334px;
}

.site34 {
	left: -120px;
	top: 412px;
}

.site35 {
	left: -149px;
	top: 428px;
}

.site36 {
	width: 500px;
	height: 20px;
	left: 535px;
	top: 420px;
}

.site37 {
	width: 700px;
	height: 30px;
	left: 316px;
	top: 450px;
}

.site38 {
	left: -392px;
	top: 488px;
}

.site39 {
	left: -222px;
	top: 488px;
}

.site40 {
	width: 500px;
	height: 15px;
	left: 317px;
	top: 491px;
}

.site41 {
	left: 335px;
	top: 488px;
}

.site42 {
	left: -411px;
	top: 512px;
}

.site43 {
	left: -238px;
	top: 512px;
}

.site44 {
	left: -40px;
	top: 512px;
}

.site45 {
	left: 103px;
	top: 512px;
}

.site46 {
	left: 164px;
	top: 512px;
}

.site47 {
	left: 222px;
	top: 512px;
}

.site48 {
	left: -583px;
	top: 540px;
}

.site49 {
	left: -280px;
	top: 540px;
}

.site50 {
	left: -150px;
	top: 540px;
}

.site50 {
	left: -20px;
	top: 540px;
}

.site51 {
	width: 122px;
	height: 15px;
	left: 810px;
	top: 542px;
}

.site52 {
	width: 60px;
	height: 15px;
	left: 985px;
	top: 542px;
}

.site53 {
	width: 76px;
	height: 15px;
	left: 470px;
	top: 568px;
}

.site54 {
	width: 180px;
	height: 38px;
	left: 625px;
	top: 570px;
}

.site55 {
	width: 220px;
	height: 20px;
	left: 820px;
	top: 589px;
}

.site56 {
	left: -669px;
	top: 592px;
}

.site57 {
	left: -647px;
	top: 592px;
}

.site58 {
	left: -599px;
	top: 592px;
}

.site59 {
	left: -578px;
	top: 592px;
}

.site60 {
	width: 70px;
	height: 15px;
	left: 362px;
	top: 594px;
}

.site61 {
	left: -889px;
	top: 618px;
}

.site62 {
	left: -794px;
	top: 618px;
}

.site63 {
	left: -701px;
	top: 618px;
}

.site64 {
	left: -601px;
	top: 618px;
}

.site65 {
	left: -509px;
	top: 618px;
}

.site66 {
	left: 676px;
	top: 597px;
}

.site67 {
	left: 782px;
	top: 597px;
}

.site68 {
	width: 170px;
	height: 15px;
	left: 864px;
	top: 623px;
}

.site69 {
	left: 212px;
	top: 625px;
}

.site70 {
	left: 388px;
	top: 625px;
}

.site71 {
	width: 470px;
	height: 15px;
	left: 558px;
	top: 650px;
}

.site72 {
	left: -56px;
	top: 654px;
}

.site73 {
	width: 137px;
	height: 15px;
	left: 781px;
	top: 675px;
}

.site74 {
	left: 290px;
	top: 572px;
}

.site75 {
	left: 312px;
	top: 572px;
}

.site76 {
	left: 455px;
	top: 519px;
}

.site77 {
	width: 900px;
	height: 500px;
	left: 110px;
	top: 737px;
}

.site78 {
	width: 200px;
	height: 20px;
	left: 215px;
	top: 1284px;
}

.site79 {
	width: 200px;
	height: 20px;
	left: 560px;
	top: 1284px;
}

.site80 {
	width: 200px;
	height: 20px;
	left: 835px;
	top: 1284px;
}

.site81 {
	width: 200px;
	height: 20px;
	left: 215px;
	top: 1486px;
}

.site82 {
	width: 200px;
	height: 20px;
	left: 730px;
	top: 1486px;
}