.from_map013 {
    width: 1100px;
    margin: auto;
    margin-top: 20px;
    position: relative;
    background: url(../img/danjuimg/menu013.jpg) no-repeat no-repeat top;
    width: 1100px;
    height: 960px;
}



.site1 {
width: 260px;
    height: 30px;
    left: 775px;
    top: 45px;
}


.site2 {
    width: 420px;
    height: 30px;
    left: 195px;
    top: 100px;
}


.site3 {
    width: 270px;
    height: 30px;
    left: 765px;
    top: 100px;
}

.site4 {
    width: 420px;
    height: 30px;
    left: 195px;
    top: 138px;
}


.site5 {
    width: 270px;
    height: 30px;
    left: 765px;
    top: 138px;
}



.site6 {
    width: 420px;
    height: 30px;
    left: 195px;
    top: 176px;
}


.site7 {
    width: 270px;
    height: 30px;
    left: 765px;
    top: 176px;
}


.site8 {
    width: 420px;
    height: 30px;
    left: 195px;
    top: 213px;
}


.site9 {
    left: 797px;
    top: 215px;
}

.site10 {
    left: 883px;
    top: 215px;
}



.site11 {
    width: 610px;
    height: 490px;
    left: 130px;
    top: 260px;
}


.site12 {
    width: 190px;
    height: 425px;
    left: 835px;
    top: 260px;
}


.site13 {
    width: 35px;
    height: 30px;
    left: 863px;
    top: 704px;
}


.site14 {
    width: 35px;
    height: 30px;
    left: 923px;
    top: 704px;
}

.site15 {
    width: 35px;
    height: 30px;
    left: 978px;
    top: 704px;
}




.site16 {
    width: 35px;
    height: 30px;
    left: 863px;
    top: 739px;
}


.site17 {
    width: 35px;
    height: 30px;
    left: 923px;
    top: 739px;
}

.site18 {
    width: 35px;
    height: 30px;
    left: 978px;
    top: 739px;
}



.site19 {
    width: 125px;
    height: 30px;
    left: 180px;
    top: 780px;
}


.site20 {
    width: 125px;
    height: 30px;
    left: 425px;
    top: 780px;
}


.site21 {
    width: 125px;
    height: 30px;
    left: 665px;
    top: 780px;
}


.site22 {
    width: 125px;
    height: 30px;
    left: 900px;
    top: 780px;
}