.from_map07 {
    width: 1100px;
    margin: auto;
    margin-top: 20px;
    position: relative;
    background: url(../img/danjuimg/menu07.jpg) no-repeat top;
    width: 1100px;
    height: 1780px;
}

.site1 {
    width: 780px;
    height: 30px;
    left: 260px;
    top: 227px;
}

.site2 {
    width: 780px;
    height: 30px;
    left: 260px;
    top: 271px;
}

.site3 {
    width: 180px;
    height: 30px;
    left: 260px;
    top: 316px;
}

.site4 {
    width: 400px;
    height: 30px;
    left: 640px;
    top: 316px;
}

.site5 {
    left: 366px;
    top: 363px;
}

.site6 {
    left: 486px;
    top: 363px;
}

.site7 {
    left: 596px;
    top: 363px;
}


.site8 {
    left: 716px;
    top: 363px;
}

.site9{
    left: 833px;
    top: 363px;
}


.site10 {
    width: 780px;
    height: 30px;
    left: 260px;
    top: 403px;
}

.site11 {
    width: 780px;
    height: 30px;
    left: 260px;
    top: 445px;
}


.site12 {
    width: 440px;
    height: 550px;
    left: 590px;
    top: 580px;
}



.site13 {
    width: 80px;
    height: 30px;
    left: 460px;
    top:1350px;
}


.site14 {
width: 80px;
height: 30px;
left: 280px;
top: 1388px;
}

.site15 {
width: 45px;
height: 30px;
left: 390px;
top: 1388px;
}

.site16 {
width: 45px;
height: 30px;
left: 465px;
top: 1388px;
}


.site17 {
     width: 280px;
    height: 30px;
    left: 765px;
    top: 1240px;
}

.site18 {
    width: 40px;
    height: 30px;
    left: 1008px;
    top: 1350px;
}



.site19 {
width: 80px;
height: 30px;
left: 780px;
top: 1388px;
}

.site20 {
width: 45px;
height: 30px;
left: 890px;
top: 1388px;
}

.site21 {
width: 45px;
height: 30px;
left: 965px;
top: 1388px;
}
