/*银行端查询缴税凭证*/
.from_map015 {
	width: 1100px;
	margin: auto;
	margin-top: 20px;
	position: relative;
	background: url(../img/danjuimg/menu015.jpg) no-repeat top;
	height: 1390px;
}



.site1 {
    width: 352px;
    height: 30px;
    left: 370px;
    top: 167px;
}

.site2 {
    width: 59px;
    height: 30px;
    left: 858px;
    top: 167px;
}


.site3 {
    width: 30px;
    height: 30px;
    left: 951px;
    top: 167px;
}


.site4 {
    width: 30px;
    height: 30px;
    left: 1005px;
    top: 167px;
}


.site5 {
width: 235px;
    height: 70px;
    left: 284px;
    top: 235px;
}


.site6 {
    width: 270px;
    height: 70px;
    left: 785px;
    top: 235px;
}


.site7 {
width: 235px;
    height: 70px;
    left: 284px;
    top: 325px;
}


.site8 {
    width: 270px;
    height: 70px;
    left: 785px;
    top: 325px;
}


.site9 {
width: 235px;
    height: 70px;
    left: 284px;
    top: 418px;
}


.site10 {
    width: 270px;
    height: 70px;
    left: 785px;
    top: 418px;
}


.site11 {
width: 735px;
    height: 55px;
    left: 284px;
    top: 510px;
}


.site12 {
    width: 540px;
    height: 185px;
    left: 55px;
    top: 681px;
}



.site13 {
    width: 385px;
    height: 185px;
    left: 655px;
    top: 681px;
}



.site14 {
    width: 145px;
    height: 30px;
    left: 895px;
    top: 900px;
}


.site15 {
    width: 545px;
    height: 30px;
    left: 295px;
    top: 960px;
}


.site16 {
    width: 55px;
    height: 30px;
    left: 837px;
    top: 1088px;
}


.site17 {
    width: 35px;
    height: 30px;
    left: 928px;
    top: 1088px;
}

.site18 {
    width: 35px;
    height: 30px;
    left: 985px;
    top: 1088px;
}