.from_map010 {
    width: 1100px;
    margin: auto;
    margin-top: 20px;
    position: relative;
    background: url(../img/danjuimg/menu010.jpg) no-repeat top;
    width: 1100px;
    height: 910px;
    background-size: 100%;
}

.site1 {
	width: 100px;
	height: 25px;
	left: 155px;
	top: 135px;
}

.site2 {
	width: 100px;
	height: 25px;
	left: 290px;
	top: 135px;
}

.site3 {
	width: 85px;
	height: 25px;
	left: 420px;
	top: 135px;
}

.site4 {
	left: 260px;
	top: 182px;
}

.site5 {
	left: 350px;
	top: 182px;
}

.site6 {
	left: 430px;
	top: 182px;
}

.site7 {
	left: 520px;
	top: 182px;
}

.site8 {
	left: 147px;
	top: 225px;
}

.site9 {
	left: 645px;
	top: 200px;
}

.site10 {
	left: 750px;
	top: 200px;
}

.site11 {
	width: 230px;
	height: 35px;
	left: 270px;
	top: 258px;
}

.site12 {
	width: 352px;
	height: 35px;
	left: 670px;
	top: 258px;
}

.site13 {
	width: 230px;
	height: 35px;
	left: 270px;
	top: 307px;
}

.site14 {
	width: 352px;
	height: 35px;
	left: 670px;
	top: 307px;
}

.site15 {
	width: 230px;
	height: 35px;
	left: 270px;
	top: 352px;
}

.site16 {
	width: 352px;
	height: 35px;
	left: 670px;
	top: 352px;
}

.site17 {
	width: 365px;
	height: 65px;
	left: 315px;
	top: 402px;
}

.site18 {
	width: 25px;
	height: 40px;
	left: 695px;
	top: 436px;
}

.site19 {
	width: 25px;
	height: 40px;
	left: 728px;
	top: 436px;
}

.site20 {
	width: 25px;
	height: 40px;
	left: 758px;
	top: 436px;
}

.site21 {
	width: 25px;
	height: 40px;
	left: 788px;
	top: 436px;
}

.site22 {
	width: 25px;
	height: 40px;
	left: 818px;
	top: 436px;
}

.site23 {
	width: 25px;
	height: 40px;
	left: 850px;
	top: 436px;
}

.site24 {
	width: 25px;
	height: 40px;
	left: 883px;
	top: 436px;
}

.site25 {
	width: 25px;
	height: 40px;
	left: 913px;
	top: 436px;
}

.site26 {
	width: 25px;
	height: 40px;
	left: 943px;
	top: 436px;
}

.site27 {
	width: 25px;
	height: 40px;
	left: 973px;
	top: 436px;
}

.site28 {
	width: 25px;
	height: 40px;
	left: 1003px;
	top: 436px;
}

.site29 {
	width: 390px;
	height: 29px;
	left: 630px;
	top: 486px;
}

.site30 {
	width: 350px;
	height: 29px;
	left: 670px;
	top: 527px;
}

.site31 {
	width: 200px;
	height: 29px;
	left: 385px;
	top: 587px;
}

.site32 {
	width: 910px;
	height: 120px;
	left: 105px;
	top: 635px;
}

.site33 {
	width: 140px;
	height: 29px;
	left: 395px;
	top: 787px;
}

.site34 {
	width: 110px;
	height: 29px;
	left: 612px;
	top: 787px;
}


.site35 {
	width: 110px;
	height: 29px;
	left: 790px;
	top: 787px;
}