.from_map06 {
    width: 1100px;
    margin: auto;
    margin-top: 20px;
    position: relative;
    background: url(../img/danjuimg/menu06.jpg) no-repeat top;
    width: 1100px;
    height: 620px;
}

.site1 {
	width: 80px;
	height: 30px;
	left: 345px;
	top: 82px;
}

.site2 {
	width: 35px;
	height: 30px;
	left: 455px;
	top: 82px;
}

.site3 {
	width: 35px;
	height: 30px;
	left: 515px;
	top: 82px;
}

.site4 {
	width: 325px;
	height: 30px;
	left: 205px;
	top: 126px;
}

.site5 {
	width: 325px;
	height: 30px;
	left: 700px;
	top: 126px;
}

.site6 {
	width: 325px;
	height: 30px;
	left: 205px;
	top: 165px;
}

.site7 {
	width: 325px;
	height: 30px;
	left: 700px;
	top: 165px;
}

.site8 {
	width: 325px;
	height: 30px;
	left: 205px;
	top: 205px;
}

.site9 {
	width: 325px;
	height: 30px;
	left: 700px;
	top: 205px;
}

.site10 {
	width: 510px;
	height: 70px;
	left: 205px;
	top: 245px;
}

.site11 {
	width: 27px;
	height: 46px;
	left: 722px;
	top: 270px;
}

.site12 {
	width: 27px;
	height: 46px;
	left: 752px;
	top: 270px;
}

.site13 {
	width: 27px;
	height: 46px;
	left: 782px;
	top: 270px;
}

.site14 {
	width: 27px;
	height: 46px;
	left: 811px;
	top: 270px;
}

.site15 {
	width: 27px;
	height: 46px;
	left: 841px;
	top: 270px;
}

.site16 {
	width: 27px;
	height: 46px;
	left: 871px;
	top: 270px;
}

.site17 {
	width: 27px;
	height: 46px;
	left: 900px;
	top: 270px;
}

.site18 {
	width: 27px;
	height: 46px;
	left: 930px;
	top: 270px;
}

.site19 {
	width: 27px;
	height: 46px;
	left: 960px;
	top: 270px;
}

.site20 {
	width: 27px;
	height: 46px;
	left: 990px;
	top: 270px;
}

.site21 {
	width: 25px;
	height: 46px;
	left: 1019px;
	top: 270px;
}

.site22 {
	width: 150px;
	height: 30px;
	left: 200px;
	top: 325px;
}

.site23 {
	width: 70px;
	height: 30px;
	left: 460px;
	top: 325px;
}

.site24 {
	width: 330px;
	height: 30px;
	left: 200px;
	top: 365px;
}

.site25 {
	width: 120px;
	height: 30px;
	left: 200px;
	top: 495px;
}

.site26 {
	width: 120px;
	height: 30px;
	left: 390px;
	top: 495px;
}