/*剩余转账支票*/
.from_map016 {
    width: 1100px;
    margin: auto;
    margin-top: 20px;
    position: relative;
    background: url(../img/danjuimg/menu025.jpg) no-repeat top;
    width: 1100px;
    height: 400px;
}

.site2 {
    width: 85px;
    height: 20px;
    left: 441px;
    top: 70px;
}


.site3 {
width: 63px;
    height: 20px;
    left: 546px;
    top: 70px;
}


.site4 {
	width: 63px;
    height: 20px;
    left: 623px;
    top: 70px;
}

.site5 {
	width: 240px;
	height: 20px;
	left:835px;
	top: 70px;
}


.site6 {
	  width: 350px;
    height: 20px;
    left: 387px;
    top: 96px;
}


.site7 {
	width: 240px;
	height: 20px;
	left:835px;
	top: 96px;
}


.site8 {
width: 400px;
    height: 25px;
    left: 393px;
    top: 130px;
}




.site9 {
    width: 18px;
    height: 23px;
    left: 828px;
    top: 141px;
}

.site10 {
    width: 18px;
    height: 23px;
    left: 847px;
    top: 141px;
}

.site11 {
    width: 18px;
    height: 23px;
    left: 866px;
    top: 141px;
}

.site12 {
    width: 18px;
    height: 23px;
    left: 885px;
    top: 141px;
}

.site13 {
    width: 18px;
    height: 23px;
    left: 904px;
    top: 141px;
}


.site14 {
   width: 18px;
    height: 23px;
    left: 923px;
    top: 141px;
}

.site15 {
   width: 18px;
    height: 23px;
    left: 942px;
    top: 141px;
}


.site16 {
   width: 18px;
    height: 23px;
    left: 961px;
    top: 141px;
}

.site17 {
   width: 18px;
    height: 23px;
    left: 980px;
    top: 141px;
}

.site18 {
   width: 18px;
    height: 23px;
    left: 999px;
    top: 141px;
}


.site19 {
   width: 18px;
    height: 23px;
    left: 1018px;
    top: 141px;
}

.site20 {
width: 350px;
    height: 20px;
    left: 358px;
    top: 179px;
}

.site21 {
width: 253px;
    height: 20px;
    left: 785px;
    top: 179px;
}

.site22 {
    width: 220px;
    height: 30px;
    left: 405px;
    top: 268px;
}


.site23 {
width: 70px;
    height: 30px;
    left: 780px;
    top: 268px;
}

.site24 {
    width: 80px;
    height: 30px;
    left: 879px;
    top: 268px;
}


.site25 {
width: 186px;
    height: 40px;
    left: 65px;
    top: 158px;
}

.site26 {
    width: 35px;
    height: 20px;
    left: 122px;
    top: 210px;
}


.site27 {
    width: 25px;
    height: 20px;
    left: 172px;
    top: 210px;
}

.site28 {
    width: 25px;
    height: 20px;
    left: 212px;
    top: 210px;
}


.site29{
width: 180px;
height: 20px;
left: 66px;
top: 260px;
}

.site30 {
    width: 132px;
    height: 20px;
    left: 119px;
    top: 289px;
}


.site31 {
    width: 132px;
    height: 20px;
    left: 119px;
    top: 313px;
}


.site32 {
    width: 54px;
    height: 20px;
    left: 120px;
    top: 343px;
}

.site33 {
    width: 54px;
    height: 20px;
    left: 201px;
    top: 343px;
}


.site34 {
    width: 253px;
    height: 20px;
    left: 785px;
    top: 208px;
}
