.from_map02 {
    width: 1100px;
    margin: auto;
    margin-top: 20px;
    position: relative;
    background: url(../img/danjuimg/menu02.jpg) no-repeat top;
    width: 1100px;
    height: 600px;
}

.site1 {
	width: 200px;
	height: 20px;
	left: 880px;
	top: 75px;
}


.site2 {
	width: 100px;
	height: 20px;
	left: 235px;
	top: 118px;
}


.site3 {
	width: 40px;
	height: 20px;
	left:378px;
	top: 118px;
}



.site4 {
	width: 40px;
	height: 20px;
	left:445px;
	top: 118px;
}


.site5 {
	width: 240px;
	height: 20px;
	left:770px;
	top: 118px;
}


.site6 {
	    width: 440px;
    height: 20px;
    left: 139px;
    top: 158px;
}


.site7 {
	width: 240px;
	height: 20px;
	left:770px;
	top: 158px;
}


.site8 {
	width: 410px;
	height: 63px;
	left:200px;
	top: 205px;
}


.site9 {
	width: 30px;
    height: 60px;
    left: 645px;
    top: 222px;
}

.site10 {
	width: 30px;
    height: 60px;
    left: 679px;
    top: 222px;
}

.site11 {
	width: 30px;
    height: 60px;
    left: 715px;
    top: 222px;
}

.site12 {
	width: 30px;
    height: 60px;
    left: 751px;
    top: 222px;
}

.site13 {
	width: 30px;
    height: 60px;
    left: 787px;
    top: 222px;
}


.site14 {
	width: 30px;
    height: 60px;
    left: 823px;
    top: 222px;
}

.site15 {
	width: 30px;
    height: 60px;
    left: 858px;
    top: 222px;
}


.site16 {
	width: 30px;
    height: 60px;
    left: 893px;
    top: 222px;
}

.site17 {
	width: 30px;
    height: 60px;
    left: 927px;
    top: 222px;
}

.site18 {
	width: 30px;
    height: 60px;
    left: 963px;
    top: 222px;
}


.site19 {
	width: 30px;
    height: 60px;
    left: 996px;
    top: 222px;
}

.site20 {
	width: 450px;
    height: 20px;
    left: 127px;
    top: 310px;
}

.site21 {
	width: 384px;
    height: 40px;
    left: 637px;
    top: 329px;
}

.site22 {
    width: 220px;
    height: 30px;
    left: 202px;
    top: 440px;
}


.site23 {
    width: 120px;
    height: 30px;
    left: 695px;
    top: 440px;
}

.site24 {
    width: 120px;
    height: 30px;
    left: 890px;
    top: 440px;
}