<?xml version="1.0" encoding="utf-8" ?>
<nlog  throwExceptions="false"  internalLogLevel="Error" internalLogFile="nlog.log" internalLogToConsole="false" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <variable name="log.dir" value="${basedir}/log"/>
  <variable name="layout.default" value="${longdate} ${logger} ${level} ${machinename} ${processname} ${callsite} ${message} ${exception:format=tostring}"/>
  <targets>
    <target name="file" xsi:type="File" fileName="${log.dir}/${shortdate}.${level}.log" layout="${layout.default}" />
  </targets>
  <rules>
    <logger name="log" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>