@{
    
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["nvc"] = "产品管理";
}

<style type="text/css">
    .note-editor {
        min-height: 100px;
        height: 200px;
    }

    a.disabled {
        pointer-events: none;
        filter: alpha(opacity=50); /*IE滤镜，透明度50%*/
        -moz-opacity: 0.5; /*Firefox私有，透明度50%*/
        opacity: 0.5; /*其他，透明度50%*/
    }
</style>
<!--面包屑位置开始-->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li>
                <h2>实训案例管理</h2>
            </li>
            <li>
                <a href="#">产品管理</a>
            </li>
            <li>
                <strong>产品列表</strong>
            </li>
        </ol>


    </div>
</div>
<!--面包屑位置结束-->
<!--主体内容开始-->
<div class="ibox-content">
    <input type="hidden" value="@Session["UserId"]" id="UserId" />
    <div class="row m-t">
        <div class="col-sm-3">
            <div class="input-group">
                <input type="text" placeholder="请输入关键字" id="Keyword" class="form-control" name="Keyword">
                <span class="input-group-btn">
                    <button type="button" onclick="SearchInfo()" class="btn btn-primary"><i class="fa fa-search "></i></button>
                </span>
            </div>
        </div>
        <div class=" col-sm-9 text-right">
            <button onclick="Add_Product();" class="btn btn-primary btn-sm " type="button"><i class="fa fa-plus m-r-xs"></i><span class="bold">新增产品</span></button>
            <button onclick="del_all();" class="btn btn-warning btn-sm " type="button"><i class="fa fa-trash m-r-xs"></i><span class="bold">删除所选</span></button>
        </div>
    </div>
    <div class="row  m-t-sm ">
        <div class="col-sm-12">
            <table class="table text-center table-bordered ">
                <thead>
                    <tr>
                        <th class="text-center">
                            <input type="Checkbox" class="i-checks checkbox-all">
                        </th>
                        <th class="text-center">产品名称</th>
                        <th class="text-center">来源</th>
                        <th class="text-center">导流方向</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody class="new_table text-center" id="tablelist"></tbody>
            </table>

        </div>

    </div>


    <!--分页开始-->
    <div class=" text-center">
        <div class="dataTables_paginate paging_simple_numbers" id="PaginatorLibrary">

        </div>

    </div>
    <!--分页结束-->

</div>

<!--新增弹框-->
<div id="Add_Product" style="display: none;" class="form-inline">
    <form name="Add_Productform" id="Add_Productform">
        <div class="col-sm-12">
            <div class="form-horizontal  m-t-lg">
                <label for="firstname" class="col-sm-3 control-label"><span style="color: red;">*</span>产品名称：</label>
                <div class="col-sm-9">
                    <input style="width: 100%;" autocomplete="off" type="text" class="form-control" id="txtAddProductName" name="txtAddProductName" placeholder="请输入产品名称">
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-horizontal  m-t-lg">
                <label for="firstname" class="col-sm-3 control-label"><span style="color: red;">*</span>导流方向：</label>
                <div class="col-sm-5">
                    <select class="form-control input-s-sm inline" style="width: 100%;" id="seladdTaskDescribe">
                        <option value="请选择">请选择</option>
                        <option value="零售信贷部">零售信贷部</option>
                        <option value="公司业务部">公司业务部</option>
                        <option value="理财服务区"> 理财服务区</option>
                        <option value="柜面服务区">柜面服务区</option>
                        <option value="厅堂服务区">厅堂服务区</option>
                    </select>
                </div>
            </div>
        </div>


    </form>
</div>

<!--编辑弹框-->
<div id="Edit_Product" style="display: none;" class="form-inline">
    <form name="Edit_productform" id="Edit_productform">
        <div class="col-sm-12">
            <div class="form-horizontal  m-t-lg">
                <label for="firstname" class="col-sm-3 control-label"><span style="color: red;">*</span>产品名称：</label>
                <div class="col-sm-9">
                    <input style="width: 100%;" autocomplete="off" type="text" class="form-control" id="txtEditProductName" name="" placeholder="请输入产品名称" maxlength="100">
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-horizontal  m-t-lg">
                <label for="firstname" class="col-sm-3 control-label"><span style="color: red;">*</span>导流方向：</label>
                <div class="col-sm-5">
                    <select class="form-control input-s-sm inline" style="width: 100%;" id="selEditTaskDescribe">
                        <option value="请选择">请选择</option>
                        <option value="零售信贷部">零售信贷部</option>
                        <option value="公司业务部">公司业务部</option>
                        <option value="理财服务区"> 理财服务区</option>
                        <option value="柜面服务区">柜面服务区</option>
                        <option value="厅堂服务区">厅堂服务区</option>
                    </select>
                </div>
            </div>
        </div>


    </form>
</div>
<script src="~/Js/Admin/Product/Product.js"></script>