
@{
    ViewBag.Title = "List";
}
@model List<TodoApp.WebFramework.Todo_Menu>

<h2>List</h2>

<table border="1">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>CreateBy</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.CreateBy</td>
            </tr>
        }
    </tbody>
</table>
