@{
    ViewBag.Title = "个人开户与银行签约服务申请书";
    Layout = "~/Views/Shared/_AdminLayoutIsNull.cshtml";
}
<link href="~/CSS/danju/css/menu05.css" rel="stylesheet" />
<form id="form1" onsubmit="return false" action="##" method="post">
    <input type="hidden" id="TaskId" name="TaskId" value="@Request["TaskId"]" />
    <input type="hidden" id="CustomerId" name="CustomerId" value="@Request["CustomerId"]" />
    <input type="hidden" id="FormId" name="FormId" value="@Request["FormId"]" />
    <input type="hidden" id="Types" name="Types" value="@Request["Types"]" />

    <!--表单内容 选择正确答案-->
    <div class="from_map05">
        <input class="inputall site1 " type="text" name="dy01" id="dy01" value="" />
        <input class="inputall site2 " type="text" name="dy02" id="dy02" value="" />
        <input class="inputall site3 " type="checkbox" name="dy03" id="dy03" value="1" />
        <input class="inputall site4 " type="checkbox" name="dy04" id="dy04" value="1" />
        <input class="inputall site5 " type="checkbox" name="dy05" id="dy05" value="1" />
        <input class="inputall site6 " type="checkbox" name="dy06" id="dy06" value="1" />
        <input class="inputall site7 " type="checkbox" name="dy07" id="dy07" value="1" />
        <input class="inputall site8 " type="checkbox" name="dy08" id="dy08" value="1" />
        <input class="inputall site9 " type="text" name="dy09" id="dy09" value="" />
        <input class="inputall site10 " type="text" name="dy010" id="dy010" value="" />
        <input class="inputall site11 " type="text" name="dy011" id="dy011" value="" />
        <input class="inputall site12 " type="text" name="dy012" id="dy012" value="" />
        <input class="inputall site13 " type="checkbox" name="dy013" id="dy013" value="1" />
        <input class="inputall site14 " type="checkbox" name="dy014" id="dy014" value="1" />
        <input class="inputall site15 " type="text" name="dy015" id="dy015" value="" />
        <input class="inputall site16 text_center" maxlength="4" type="text" name="dy016" id="dy016" value="" />
        <input class="inputall site17 text_center" maxlength="2" type="text" name="dy017" id="dy017" data-type="月" value="" />

        <input class="inputall site18 text_center" maxlength="2" type="text" name="dy018" id="dy018" data-type="日" value="" />

        <input class="inputall site19 " type="text" name="dy019" id="dy019" value="" />
        <input class="inputall site20 " type="text" name="dy020" id="dy020" value="" />

        <input class="inputall site21" type="checkbox" name="dy021" id="dy021" value="1" />
        <input class="inputall site22 " type="checkbox" name="dy022" id="dy022" value="1" />
        <input class="inputall site23 " type="checkbox" name="dy023" id="dy023" value="1" />
        <input class="inputall site24 " type="checkbox" name="dy024" id="dy024" value="1" />
        <input class="inputall site25 " type="checkbox" name="dy025" id="dy025" value="1" />
        <input class="inputall site26 " type="text" name="dy026" id="dy026" value="" />
        <input class="inputall site27 " type="text" name="dy027" id="dy027" value="" />

        <input class="inputall site28 " type="checkbox" name="dy028" id="dy028" value="1" />
        <input class="inputall site29 " type="checkbox" name="dy029" id="dy029" value="1" />
        <input class="inputall site30 " type="text" name="dy030" id="dy030" value="" />
        <input class="inputall site31 " type="text" name="dy031" id="dy031" value="" />
        <input class="inputall site32 " type="text" name="dy032" id="dy032" value="" />
        <input class="inputall site33 " type="text" name="dy033" id="dy033" value="" />

        <input class="inputall site34 " type="checkbox" name="dy034" id="dy034" value="1" />
        <input class="inputall site35 " type="checkbox" name="dy035" id="dy035" value="1" />

        <input class="inputall site36 " type="text" name="dy036" id="dy036" value="" />
        <textarea class="inputall site37 " name="dy037" id="dy037" rows="" cols=""></textarea>

        <input class="inputall site38 " type="checkbox" name="dy038" id="dy038" value="1" />
        <input class="inputall site39 " type="checkbox" name="dy039" id="dy039" value="1" />
        <input class="inputall site40 " type="text" name="dy040" id="dy040" value="" />
        <input class="inputall site41 " type="checkbox" name="dy041" id="dy041" value="1" />
        <input class="inputall site42 " type="checkbox" name="dy042" id="dy042" value="1" />
        <input class="inputall site43 " type="checkbox" name="dy043" id="dy043" value="1" />
        <input class="inputall site44 " type="checkbox" name="dy044" id="dy044" value="1" />
        <input class="inputall site45 " type="checkbox" name="dy045" id="dy045" value="1" />
        <input class="inputall site46 " type="checkbox" name="dy046" id="dy046" value="1" />
        <input class="inputall site47 " type="checkbox" name="dy047" id="dy047" value="1" />
        <input class="inputall site48 " type="checkbox" name="dy048" id="dy048" value="1" />
        <input class="inputall site49 " type="checkbox" name="dy049" id="dy049" value="1" />

        <input class="inputall site50 " type="checkbox" name="dy050" id="dy050" value="1" />
        <input class="inputall site51 " type="text" name="dy051" id="dy051" value="" />

        <input class="inputall site52 " type="text" name="dy052" id="dy052" value="" />
        <input class="inputall site53 " type="text" name="dy053" id="dy053" value="" />
        <input class="inputall site54 " type="text" name="dy054" id="dy054" value="" />
        <input class="inputall site55 " type="text" name="dy055" id="dy055" value="" />

        <input class="inputall site56 " type="checkbox" name="dy056" id="dy056" value="1" />
        <input class="inputall site57 " type="checkbox" name="dy057" id="dy057" value="1" />
        <input class="inputall site58 " type="checkbox" name="dy058" id="dy058" value="1" />
        <input class="inputall site59 " type="checkbox" name="dy059" id="dy059" value="1" />

        <input class="inputall site60 " type="text" name="dy060" id="dy060" value="" />

        <input class="inputall site61 " type="checkbox" name="dy061" id="dy061" value="1" />
        <input class="inputall site62 " type="checkbox" name="dy062" id="dy062" value="1" />
        <input class="inputall site63 " type="checkbox" name="dy063" id="dy063" value="1" />
        <input class="inputall site64 " type="checkbox" name="dy064" id="dy064" value="1" />
        <input class="inputall site65 " type="checkbox" name="dy065" id="dy065" value="1" />
        <input class="inputall site66 " type="checkbox" name="dy066" id="dy066" value="1" />
        <input class="inputall site67 " type="checkbox" name="dy067" id="dy067" value="1" />
        <input class="inputall site68 " type="text" name="dy068" id="dy068" value="" />
        <input class="inputall site69 " type="checkbox" name="dy069" id="dy069" value="1" />
        <input class="inputall site70 " type="checkbox" name="dy070" id="dy070" value="1" />
        <input class="inputall site71 " type="text" name="dy071" id="dy071" value="" />

        <input class="inputall site72 " type="checkbox" name="dy072" id="dy072" value="1" />
        <input class="inputall site73 " type="text" name="dy073" id="dy073" value="" />

        <!--追加币别选项-->
        <input class="inputall site74 " type="checkbox" name="dy074" id="dy074" value="1" />
        <input class="inputall site75 " type="checkbox" name="dy075" id="dy075" value="1" />

        <!--通知存款一户通-->
        <input class="inputall site76 " type="checkbox" name="dy076" id="dy076" value="1" />
        <textarea class="inputall site77 " name="dy077" id="dy077" rows="" cols=""></textarea>
        <input class="inputall site78 " type="text" name="dy078" id="dy078" value="" />
        <input class="inputall site79 " type="text" name="dy079" id="dy079" value="" />
        <input class="inputall site80 " type="text" name="dy080" id="dy080" value="" />
        <input class="inputall site81 " type="text" name="dy081" id="dy081" value="" />
        <input class="inputall site82 " type="text" name="dy082" id="dy082" value="" />

        <button class="btn_chongzhi" type="button" value="重置" onclick="btnReset()">重置</button>
        <button class="btn_tijiao" type="button" value="提交" onclick="btnSubmit()">提交</button>

    </div>


</form>
    <script src="~/Js/Admin/clicktoggle.js"></script>
