@{
    ViewBag.Title = "空白凭证领用单";
    Layout = "~/Views/Shared/_AdminLayoutIsNull.cshtml";
}
<link href="~/CSS/danju/css/menu011.css" rel="stylesheet" />
<form id="form1" onsubmit="return false" action="##" method="post">
    <input type="hidden" id="TaskId" name="TaskId" value="@Request["TaskId"]" />
    <input type="hidden" id="CustomerId" name="CustomerId" value="@Request["CustomerId"]" />
    <input type="hidden" id="FormId" name="FormId" value="@Request["FormId"]" />
    <input type="hidden" id="Types" name="Types" value="@Request["Types"]" />

    <!--表单内容 选择正确答案-->
    <div class="from_map011">
        <input class="inputall site1 text_center" maxlength="4" type="text" name="dy01" id="dy01" value="" />
        <input class="inputall site2 text_center" maxlength="2" type="text" name="dy02" id="dy02" data-type="月" value="" />
        <input class="inputall site3 text_center" maxlength="2" type="text" name="dy03" id="dy03" data-type="日" value="" />

        <input class="inputall site4 " type="text" name="dy04" id="dy04" value="" />
        <input class="inputall site5 " type="text" name="dy05" id="dy05" value="" />
        <input class="inputall site6 " type="text" name="dy06" id="dy06" value="" />
        <input class="inputall site7 " type="text" name="dy07" id="dy07" value="" />
        <input class="inputall site8 " type="text" name="dy08" id="dy08" value="" />

        <input class="inputall site9 " type="text" name="dy09" id="dy09" value="" />
        <input class="inputall site10 " type="text" name="dy010" id="dy010" value="" />

        <input class="inputall site11 " type="text" name="dy011" id="dy011" value="" />
        <input class="inputall site12 " type="text" name="dy012" id="dy012" value="" />
        <input class="inputall site13 " type="text" name="dy013" id="dy013" value="" />
        <input class="inputall site14 " type="text" name="dy014" id="dy014" value="" />
        <input class="inputall site15 " type="text" name="dy015" id="dy015" value="" />
        <input class="inputall site16 " type="text" name="dy016" id="dy016" value="" />
        <input class="inputall site17 " type="text" name="dy017" id="dy017" value="" />



        <input class="inputall site18 " type="text" name="dy018" id="dy018" value="" />
        <input class="inputall site19 " type="text" name="dy019" id="dy019" value="" />



        <input class="inputall site20 text_center" maxlength="1" type="text" name="dy020" id="dy020" value="" />
        <input class="inputall site21 text_center" maxlength="1" type="text" name="dy021" id="dy021" value="" />
        <input class="inputall site22 text_center" maxlength="1" type="text" name="dy022" id="dy022" value="" />
        <input class="inputall site23 text_center" maxlength="1" type="text" name="dy023" id="dy023" value="" />
        <input class="inputall site24 text_center" maxlength="1" type="text" name="dy024" id="dy024" value="" />
        <input class="inputall site25 text_center" maxlength="1" type="text" name="dy025" id="dy025" value="" />
        <input class="inputall site26 text_center" maxlength="1" type="text" name="dy026" id="dy026" value="" />
        <input class="inputall site27 text_center" maxlength="1" type="text" name="dy027" id="dy027" value="" />
        <input class="inputall site28 text_center" maxlength="1" type="text" name="dy028" id="dy028" value="" />
        <input class="inputall site29 text_center" maxlength="1" type="text" name="dy029" id="dy029" value="" />
        <input class="inputall site30 text_center" maxlength="1" type="text" name="dy030" id="dy030" value="" />
        <input class="inputall site31 text_center" maxlength="1" type="text" name="dy031" id="dy031" value="" />
        <input class="inputall site32 text_center" maxlength="1" type="text" name="dy032" id="dy032" value="" />
        <input class="inputall site33 text_center" maxlength="1" type="text" name="dy033" id="dy033" value="" />
        <input class="inputall site34 text_center" maxlength="1" type="text" name="dy034" id="dy034" value="" />
        <input class="inputall site35 text_center" maxlength="1" type="text" name="dy035" id="dy035" value="" />
        <input class="inputall site36 text_center" maxlength="1" type="text" name="dy036" id="dy036" value="" />
        <input class="inputall site37 text_center" maxlength="1" type="text" name="dy037" id="dy037" value="" />
        <input class="inputall site38 text_center" maxlength="1" type="text" name="dy038" id="dy038" value="" />
        <input class="inputall site39 text_center" maxlength="1" type="text" name="dy039" id="dy039" value="" />
        <input class="inputall site40 text_center" maxlength="1" type="text" name="dy040" id="dy040" value="" />
        <input class="inputall site41 text_center" maxlength="1" type="text" name="dy041" id="dy041" value="" />
        <input class="inputall site42 text_center" maxlength="1" type="text" name="dy042" id="dy042" value="" />
        <input class="inputall site43 text_center" maxlength="1" type="text" name="dy043" id="dy043" value="" />

        <input class="inputall site44 text_center" maxlength="25" type="text" name="dy044" id="dy044" value="" />
        <input class="inputall site45 text_center" maxlength="25" type="text" name="dy045" id="dy045" value="" />
        <input class="inputall site46 text_center" maxlength="25" type="text" name="dy046" id="dy046" value="" />
        <input class="inputall site47 text_center" maxlength="25" type="text" name="dy047" id="dy047" value="" />


        <input class="inputall site48 text_center" maxlength="25" type="text" name="dy048" id="dy048" value="" />
        <input class="inputall site49 text_center" maxlength="25" type="text" name="dy049" id="dy049" value="" />
        <input class="inputall site50 text_center" maxlength="25" type="text" name="dy050" id="dy050" value="" />
        <input class="inputall site51 text_center" maxlength="25" type="text" name="dy051" id="dy051" value="" />

        <input class="inputall site52 " type="text" name="dy052" id="dy052" value="">
        <input class="inputall site53 " type="text" name="dy053" id="dy053" value="">
        <input class="inputall site54 " type="text" name="dy054" id="dy054" value="">
        <input class="inputall site55 " type="text" name="dy055" id="dy055" value="">
        <input class="inputall site56 text_center" maxlength="1" type="text" name="dy056" id="dy056" value="">
        <input class="inputall site57 text_center" maxlength="1" type="text" name="dy057" id="dy057" value="">
        <input class="inputall site58 text_center" maxlength="1" type="text" name="dy058" id="dy058" value="">
        <input class="inputall site59 text_center" maxlength="1" type="text" name="dy059" id="dy059" value="">
        <input class="inputall site60 text_center" maxlength="1" type="text" name="dy060" id="dy060" value="">

        <button class="btn_chongzhi" type="button" value="重置" onclick="btnReset()">重置</button>
        <button class="btn_tijiao" type="button" value="提交" onclick="btnSubmit()">提交</button>
    </div>
    

</form>
    <script src="~/Js/Admin/clicktoggle.js"></script>
