@{
    
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<style type="text/css">

    .db_map {
        min-height: 500px;
    }

    .item_name {
        text-align: center;
        font-size: 20px;
        margin-top: 15px;
        color: #333333;
    }

    .hr_item {
        width: 50px;
        height: 1px;
        border: 2px solid #3487f5;
        margin: auto;
        margin-top: 3px;
    }

    .table_public tr td {
        text-align: left;
        padding: 6px 5px;
        padding-left: 20px;
        padding-bottom: 20px;
    }

    .table_public tr th {
        height: 40px;
        text-align: left;
        padding-left: 25px;
    }

    .table_public a {
        color: #3487f5;
        cursor: pointer;
    }

    .font-bold {
        font-weight: 600;
    }

    .disBlock {
        display: none;
    }
</style>
<!DOCTYPE html>
<!-------------内容------------->
<div class="index_con" style="padding-bottom: 50px;">
    <!--面包屑开始-->
    <div class="crumbs_map">
        你当前所在的位置：
        <a href="index_one.html">首页</a>＞
        <span>课时安排</span>
    </div>
    <!--面包屑结束-->
    <!--切换内容区域-->

    <div class="item_name">
        课时安排
    </div>
    <div class="hr_item"></div>
    <div class="m-t-lg m-l-sm m-r-sm m-b-sm">
        <table class="table_public" border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th width="30%">开课时间</th>
                    <th>课程内容</th>
                </tr>
            </thead>
            <tbody id="tableList">
                @*<tr>
                        <td>2019-06-06 12:00</td>
                        <td>
                            <div class="zhang_name">
                                <p class="font-bold m-t-md">
                                    课程名称课程名称（可提前24小时预习）默认展开
                                    <a class="pull-right m-r-sm pack_tab ">收起</a>
                                </p>
                                <div class="zhang_text ">
                                    <p class="m-t-sm m-l-md">章名称章名称章名称</p>
                                    <p class="m-t-sm m-l-xl">
                                        <a href="#">小节名称点击跳转到对应章节</a>
                                    </p>
                                    <p class="m-t-sm m-l-xl">
                                        <a href="#">小节名称点击跳转到对应章节</a>
                                    </p>
                                    <p class="m-t-sm m-l-xl">
                                        <a href="#">小节名称点击跳转到对应章节</a>
                                    </p>
                                    <p class="m-t-sm m-l-md">章名称章名称章名称</p>
                                    <p class="m-t-sm m-l-xl">
                                        <a href="#">小节名称点击跳转到对应章节</a>
                                    </p>
                                    <p class="m-t-sm m-l-xl">
                                        <a href="#">小节名称点击跳转到对应章节</a>
                                    </p>
                                    <p class="m-t-sm m-l-xl">
                                        <a href="#">小节名称点击跳转到对应章节</a>
                                    </p>
                                    <p class="m-t-sm m-l-md">章名称章名称章名称</p>
                                    <p class="m-t-sm m-l-xl">
                                        <a href="#">小节名称点击跳转到对应章节</a>
                                    </p>
                                    <p class="m-t-sm m-l-xl">
                                        <a href="#">小节名称点击跳转到对应章节</a>
                                    </p>
                                    <p class="m-t-sm m-l-xl">
                                        <a href="#">小节名称点击跳转到对应章节</a>
                                    </p>
                                </div>
                            </div>
                        </td>
                    </tr>*@
                @*<tr>
                        <td>2019-06-06 12:00</td>
                        <td>
                            <div class="zhang_name">
                                <p class="font-bold m-t-md">
                                    课程名称课程名称（可提前24小时预习）默认展开
                                    <a class="pull-right m-r-sm pack_tab ">收起</a>
                                </p>
                                <div class="zhang_text ">
                                    <p class="m-t-sm m-l-md">章名称章名称章名称</p>
                                    <p class="m-t-sm m-l-xl">
                                        <a href="#">小节名称点击跳转到对应章节</a>
                                    </p>
                                    <p class="m-t-sm m-l-xl">
                                        <a href="#">小节名称点击跳转到对应章节</a>
                                    </p>
                                    <p class="m-t-sm m-l-xl">
                                        <a href="#">小节名称点击跳转到对应章节</a>
                                    </p>
                                    <p class="m-t-sm m-l-md">章名称章名称章名称</p>
                                    <p class="m-t-sm m-l-xl">
                                        <a href="#">小节名称点击跳转到对应章节</a>
                                    </p>
                                    <p class="m-t-sm m-l-xl">
                                        <a href="#">小节名称点击跳转到对应章节</a>
                                    </p>
                                    <p class="m-t-sm m-l-xl">
                                        <a href="#">小节名称点击跳转到对应章节</a>
                                    </p>
                                    <p class="m-t-sm m-l-md">章名称章名称章名称</p>
                                    <p class="m-t-sm m-l-xl">
                                        <a href="#">小节名称点击跳转到对应章节</a>
                                    </p>
                                    <p class="m-t-sm m-l-xl">
                                        <a href="#">小节名称点击跳转到对应章节</a>
                                    </p>
                                    <p class="m-t-sm m-l-xl">
                                        <a href="#">小节名称点击跳转到对应章节</a>
                                    </p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2019-06-06 12:00</td>
                        <td>
                            <div class="zhang_name">
                                <p class="font-bold m-t-md">
                                    课程名称课程名称（可提前24小时预习）默认展开
                                    <a class="pull-right m-r-sm pack_tab ">收起</a>
                                </p>
                                <div class="zhang_text ">
                                    <p class="m-t-sm m-l-md">章名称章名称章名称</p>
                                    <p class="m-t-sm m-l-xl">
                                        <a href="#">小节名称点击跳转到对应章节</a>
                                    </p>
                                    <p class="m-t-sm m-l-xl">
                                        <a href="#">小节名称点击跳转到对应章节</a>
                                    </p>
                                    <p class="m-t-sm m-l-xl">
                                        <a href="#">小节名称点击跳转到对应章节</a>
                                    </p>
                                    <p class="m-t-sm m-l-md">章名称章名称章名称</p>
                                    <p class="m-t-sm m-l-xl">
                                        <a href="#">小节名称点击跳转到对应章节</a>
                                    </p>
                                    <p class="m-t-sm m-l-xl">
                                        <a href="#">小节名称点击跳转到对应章节</a>
                                    </p>
                                    <p class="m-t-sm m-l-xl">
                                        <a href="#">小节名称点击跳转到对应章节</a>
                                    </p>
                                    <p class="m-t-sm m-l-md">章名称章名称章名称</p>
                                    <p class="m-t-sm m-l-xl">
                                        <a href="#">小节名称点击跳转到对应章节</a>
                                    </p>
                                    <p class="m-t-sm m-l-xl">
                                        <a href="#">小节名称点击跳转到对应章节</a>
                                    </p>
                                    <p class="m-t-sm m-l-xl">
                                        <a href="#">小节名称点击跳转到对应章节</a>
                                    </p>
                                </div>
                            </div>
                        </td>
                    </tr>*@
            </tbody>
        </table>
    </div>
</div>

<script src="~/Scripts/String/StringFormat.js"></script>
<script type="text/javascript">
    //根据渲染出来的数据，动态设置底部
    function gaifoot() {
        //文档body的高度
        var bodyHeight = $(document.body).height()
        //当前窗口可视区域高度
        var winHeight = $(window).height()
        if (bodyHeight > winHeight) {
            $(".footer").removeClass("fid")
        } else {
            $(".footer").addClass("fid")
        }
    }
    setInterval("gaifoot()", "50");

    //退出系统
    function out_xitong() {
        layer.confirm('您确定要退出系统吗？', {
            title: '退出系统',
            btn: ['确定', '取消'],
            offset: 'auto', //定义弹窗位置垂直居中
            shadeClose: false, //遮罩关闭控制
            skin: 'layui-layer-lan'
            //按钮
        },
            function () {
                layer.msg('退出成功', {
                    time: 10000,
                    icon: 1,
                });
                window.location.href = "login.html"
            });

    }

    $(document).ready(function () {
        tab_up_down(); //小节里内容的展开与收起
    })

    //小节里内容的展开与收起
    function tab_up_down() {
        $(".zhang_name").on("click", ".pack_tab", function () {
            if ($(this).hasClass("pack_up")) {
                $(this).removeClass("pack_up").text("收起").parent().siblings(".zhang_text").removeClass("disBlock");
            } else {
                $(this).addClass("pack_up").text("展开").parent().siblings(".zhang_text").addClass("disBlock");
            }
        })
    }

    $(function () {
        GetTeachingHours();
    });

    //获得课时安排
    function GetTeachingHours() {
        $.ajax({
            url: '/index_keshi/GetCurriculum',
            Type: "Post",
            dataType: "json",
            async: true,
            contentType: "application/json; charset=utf-8",
            data: {},
            success: function (data) {
                var html = "";
                var openingTime = "";
                for (var i = 0; i < data.length; i++) {

                    openingTime = new Date(data[i]["OpeningTime"]).Format("yyyy-MM-dd HH:mm:ss")

                    html += '<tr>'
                    html += '<td>' + new Date(data[i]["OpeningTime"]).Format("yyyy-MM-dd HH:mm") + '</td>'
                    html += '<td>'

                    html += '<div class="zhang_name">'
                    html += '<p class="font-bold m-t-md">'
                    html += data[i]["CurriculumName"]
                    html += '<a class="pull-right m-r-sm pack_tab ">收起</a>'
                    html += '</p>'

                    $.ajax({
                        url: '/index_keshi/GetChapter',
                        Type: "Post",
                        dataType: "json",
                        async: false,
                        contentType: "application/json; charset=utf-8",
                        data: { "CurriculumID": data[i]["CourseId"], "OpeningTime": openingTime },
                        success: function (data) {
                            for (var j = 0; j < data.length; j++) {

                                html += '<div class="zhang_text " >'
                                html += '<p class="m-t-sm m-l-md">' + data[j]["ResourcesName"] + '</p>'

                                $.ajax({
                                    url: '/index_keshi/GetSection',
                                    Type: "Post",
                                    dataType: "json",
                                    async: false,
                                    contentType: "application/json; charset=utf-8",
                                    data: { "ChapterID": data[j]["ChapterId"], "OpeningTime": openingTime },
                                    success: function (data) {
                                        for (var k = 0; k < data.length; k++) {
                                            html += '<p class="m-t-sm m-l-xl">'
                                            html += '<a href="#">' + data[k]["SectionName"] + '</a>'
                                            html += ' </p>'
                                        }
                                    }
                                });


                                html += '</p>'
                                html += '</div>'

                            }
                        }


                    });


                    html += '</div>'
                    html += '</td>'
                    html += '</tr>'

                }

                $("#tableList").html(html);

                tab_up_down();
            }

        });
    }
</script>