@using System.Data;
@{
    
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["nvc"] = "考核成绩设定";
    DataTable dt = (DataTable)ViewData["Assessment"];
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li>
                <h2>考核成绩设定（一次只能设置一个考核ID，客户经理可以设置个人和对公两个考核ID）</h2>
            </li>
        </ol>

    </div>
</div>
<!--面包屑位置结束-->
<!--主体内容开始-->
<div class="ibox-content">
    <div class="row  m-t-sm ">
        <div class="col-sm-12">
            <table class="table text-center table-bordered ">
                <thead>
                    <tr>
                        <th class="text-center">模块名称</th>
                        <th class="text-center">设定考核ID串</th>
                        <th class="text-center">更新者</th>
                        <th class="text-center">更新时间</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody class="new_table text-center" id="tablelist"></tbody>
            </table>
            <input type="image" id="img_1" style="display:none;" />
        </div>

    </div>


    <!--分页开始-->
    <div class=" text-center">
        <div class="dataTables_paginate paging_simple_numbers" id="PaginatorLibrary">

        </div>

    </div>
    <!--分页结束-->
</div>
<div id="exam" style="display: none;" class="form-inline">
    <form name="" id="">

        <div class="col-sm-12">
            <div class="form-horizontal  m-t-lg">
                <label for="firstname" class="col-sm-3 control-label"><span style="color: red;">*</span>模块名称：</label>
                <div class="col-sm-9">
                    <input readonly="readonly" style="width: 100%;" type="text" class="form-control" id="ModelName" name="ModelName" placeholder=""/>
                    <input type="hidden" id="ID" name="ID" />
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-horizontal  m-t-lg">
                <label for="firstname" class="col-sm-3 control-label"><span style="color: red;">*</span>设定考核ID串：</label>
                <div class="col-sm-9">
                    <input style="width: 100%;" type="text" class="form-control" id="ExamIDS" name="ExamIDS" placeholder="">(多个考核以,分隔)
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    SearchTb();
    function SearchTb() {
        $.ajax({
            type: "Get",
            async: false,
            url: "/admin/ExamSetting/GetList",
            dataType: "json",
            success: function (data) {
                if (data != null && data != "") {
                    var html = "";
                    for (var i = 0; i < data.length; i++) {
                        html += '<tr>';
                        html += '<td>' + data[i]["ModelName"] + '</td>';
                        html += '<td>' + data[i]["ExamIDS"] + '</td>';
                        html += '<td>' + data[i]["Updater"] + '</td>';
                        html += '<td>' + data[i]["UpdateTime"] + '</td>';
                        html += '<td>';
                        html += '<a onclick="edit(' + data[i]["ID"] + ');" class=" btn-primary btn-sm  m-r-sm"><i class="fa fa-pencil m-r-xxs"></i>编辑</a>';
                        html += '</td>';
                        html += '</tr>';
                    }

                    $("#tablelist").html(html);
                }


            },
            error: function (error) {

            }
        });
    }
    var tdsd;
    function edit(id) {
        $.ajax({
            type: "Get",
            async: false,
            url: "/admin/ExamSetting/GetOnly",
            data: { "ID": id },
            dataType: "json",
            success: function (data) {
                if (data != null && data != "") {
                    $("#ID").val(data[0]["ID"]);
                    $("#ExamIDS").val(data[0]["ExamIDS"]);
                    $("#ModelName").val(data[0]["ModelName"]);
                    tdsd= layer.open({
                        title: "修改信息",
                        btn: ['确定', '取消'],
                        area: ['450px', '425px'],
                        type: 1,
                        skin: 'layui-layer-lan', //样式类名
                        closeBtn: 1, //显示关闭按钮
                        anim: 2,
                        shadeClose: false, //关闭点击遮罩关闭，true为打开遮罩关闭
                        content: $("#exam"),
                        yes: function (index, layero) {
                            Update();
                        },
                    });
                }


            },
            error: function (error) {

            }
        });
    }

    function Update() {
        var id = $("#ID").val();
        var ExamIDS = $("#ExamIDS").val();
        if (ExamIDS == "") {
            alert("请输入设定考核ID串");
            return;
        }       
        $.ajax({
            type: "Get",
            async: false,
            url: "/admin/ExamSetting/Update",
            data: { "ID": id, "ExamIDS": ExamIDS },
            dataType: "json",
            success: function (data) {
                if (parseInt(data)>0) {
                    layer.closeAll();//关闭所有弹出框
                    layer.msg('保存成功', { icon: 1 });
                    SearchTb();
                }

            },
            error: function (error) {
                layer.closeAll();//关闭所有弹出框
                layer.msg('保存失败', { icon: 1 });
            }
           
        });
    }


</script>

