@{
    //ViewBag.Title = "FillForm";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>银行虚拟仿真——填单操作</title>
    <link rel="stylesheet" type="text/css" href="~/CSS/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/animate.css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/form_public.css" />
    <link rel="stylesheet" href="~/CSS/icheck-pub/skins/flat/blue.css">
    <link rel="stylesheet" type="text/css" href="~/CSS/public3D.css" />
    <style type="text/css">

        .body_map {
            position: relative;
            width: 100%;
            height: 100%;
            height: 100vmin;
        }

        .bodybg {
            width: 100%;
            height: 100%;
        }

        .Alnv_map {
            position: fixed;
            bottom: 300px;
            z-index: 999;
        }

        .alnv_btn {
            float: right;
        }

        .alnv_con {
            border: 3px solid red;
            padding: 10px;
            margin-right: 58px;
            height: 200px;
            background-color: white;
            width: 300px;
            margin-left: -300px;
        }
        /*任务进度*/

        .jindu_map {
            position: fixed;
            top: 100px;
            right: 15px;
            z-index: 999;
        }

        .jindu_con {
            background-color: white;
            border: 1px solid darkseagreen;
            padding: 15px;
            width: 100px;
            display: none;
            text-align: center;
        }

        .jindu_btn {
            border: 1px solid green;
            background: white url(/Img/icoxia.png) no-repeat right;
            padding: 10px 30px 10px 10px;
            width: 100px;
        }

        .qie {
            background: white url(/Img/icoshang.png) no-repeat right;
        }
        /*介质开始*/

        .jiezhi {
            position: absolute;
            cursor: pointer;
            /*background-color: rgba(0, 0, 0, 0.5);*/
        }

        .jiezhi_tai {
            /*border: 1px solid yellow;*/
            width: 48%;
            height: 26%;
            left: 38%;
            top: 59%;
        }

        .jiezhi_kehu {
            border: 1px solid green;
            width: 10%;
            height: 47%;
            left: 38%;
            top: 43%;
        }

        .zhiyin4 {
            display: block;
            position: absolute;
            width: 6%;
            height: 8%;
            background: url(/Img/shouzhi.gif) center no-repeat;
            background-size: 100% 100%;
            left: 55%;
            top: 77%;
            z-index: 999999;
        }

        .youxia {
            position: fixed;
            bottom: 30px;
            right: 30px;
        }

        .quhao_map {
            padding: 15px 40px;
        }

        .sbyw {
            font-size: 18px;
        }

        .jieguo_map {
            text-align: center;
        }

            .jieguo_map h2 {
                margin-top: 40px;
                color: #3487f5;
            }

        .shtg {
            position: absolute;
            color: green;
            padding: 5px 10px;
            border: 1px solid green;
            border-radius: 8px;
            right: 80px;
        }
    </style>
</head>
<body>
    <div class="body_map">
        <!--当前模式-->

        <div class="moshi_map">
            当前模式：<span>教学模式</span>
        </div>

        <!--视频和背景图转换区域-->

        <div class="videos_res" id="videoParent">
            <!-- autoplay="autoplay"自动播放 loop="loop"控制循环播放-->
            <video id="flash" preload="metadata" onended="showImg()">
                @*<source id="videoPath" src="" type="video/mp4">*@
            </video>
            <img id="bj" class="bodybg" src="/Img/tiandan_bj.jpg" />
            @*<video style="display: none;" id="flash2" loop="loop" autoplay onended="showImg()">
            <source src="../flash/dome.mp4" type="video/mp4">
        </video>*@
        </div>

        
        @*<div class="zhiyin4"></div>*@

        <!--系统设置区域-->
        <div class="shezhi_map">
            <div class="szbj">	</div>
            <div class="sz_con">
                <div class="sz_line">
                    <div class="szleftimg">
                        <img src="/img/public3D/icopub1.png" />
                    </div>
                    <div class="szright">
                        <div class="szright_con">
                            退出实训
                        </div>

                    </div>
                </div>
                <div class="sz_line">
                    <div class="szleftimg">
                        <img src="/img/public3D/icopub2.png" />
                    </div>
                    <div class="szright">
                        <div class="szright_con">
                            关于案例
                        </div>

                    </div>
                </div>
                <div class="sz_line">
                    <div class="szleftimg">
                        <img src="/img/public3D/icopub3.png" />
                    </div>
                    <div class="szright">
                        <div class="szright_con">
                            环境设置
                        </div>

                    </div>
                </div>
                <div class="sz_line">
                    <div class="szleftimg" style="padding-bottom: 0px;">
                        <img src="/img/public3D/icopub4.png" />
                    </div>
                    <div class="szright">
                        <div class="szright_con">
                            边学边练
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--系统设置区域结束-->
        <!--底部右下角按钮-->
        <div class="bot_btn_map">
            @*<div class="bot_btn">
                <div class="bot_btn_con">
                    接待<br />
                    客户
                </div>
            </div>*@
            <div class="bot_btn">
                <div class="bot_btn_con" onclick="tiandanhouyindao()">
                    引导<br />
                    客户
                </div>
            </div>
            <div class="bot_btn">
                <div class="bot_btn_con">
                    营销<br />
                    转介
                </div>
            </div>
            <div class="bot_btn">
                <div class="bot_btn_con">
                    送别<br />
                    客户
                </div>
            </div>

            <div class="bot_btn">
                <div class="bot_btn_con  btn_bjred">
                    下一位<br />
                    客户
                </div>
            </div>
        </div>
        <!--底部右下角按钮结束-->
        <!--右上角信息样式-->
        <div class="xinxi_map">
            <div class="shu_map">
                <div class="shu_text">任务描述</div>
                <div class="num_map">
                    <span id="currTaskCount">4</span>/11
                </div>
            </div>

            <div class="shu_map">
                <div class="manyi_text">
                    当前客户
                    <br />	满意度
                </div>
                <div class="num_map">
                    <span id="manyidu">100</span>
                </div>
            </div>


            <div class="dqjdu_map">
                当前任务进度 <button class="jd_btn"></button>
            </div>

            <div id="jd_con" class="jd_con">
                <div class="jd_line">
                    <div class="jd_left">
                        接待
                        <div class="ztweizhi zt_lan" name="jindutiao" data-jindu="2"></div>

                    </div>
                    <div class="jd_right jd_ok"></div>
                </div>

                <div class="jd_line">
                    <div class="jd_left">
                        取号
                        <div class="ztweizhi zt_lan" name="jindutiao" data-jindu="3"></div>
                    </div>
                    <div class="jd_right jd_ok"></div>
                </div>

                <div class="jd_line">
                    <div class="jd_left">
                        取号后引导
                        <div class="ztweizhi zt_huang" name="jindutiao" data-jindu="4"></div>
                    </div>
                    <div class="jd_right"></div>
                </div>

                <div class="jd_line">
                    <div class="jd_left">
                        填单
                        <div class="ztweizhi " name="jindutiao" data-jindu="5"></div>
                    </div>
                    <div class="jd_right"></div>
                </div>

                <div class="jd_line">
                    <div class="jd_left">
                        填单后引导
                        <div class="ztweizhi " name="jindutiao" data-jindu="6"></div>
                    </div>
                    <div class="jd_right"></div>
                </div>


                <div class="jd_line">
                    <div class="jd_left">
                        送别
                        <div class="ztweizhi " name="jindutiao" data-jindu="16"></div>
                    </div>
                    <div class="jd_right"></div>
                </div>

            </div>






        </div>

        <!--各个介质 media-->
        <!--填单台-->
        <div onclick="tiandan();" class="jiezhi  jiezhi_tai"></div>

    </div>
</body>
</html>
<!--选择单据-->
<div id="tiandan" style="display: none;">
    <div class="quhao_map">
        <div class="sbyw">
            您办理的是<span id="businessName">xxx</span>业务，请您填写以下单据：
        </div>

        <div class="row m-t-lg">
            <div class="col-sm-3">
                <p><img src="/Img/ico_jia.png" /></p>
                <p class="m-t-sm"><input type="checkbox" class="i-checks" name="checkForm" value="1"><span class="m-l-sm  ">一般业务申请书</span></p>
            </div>

            <div class="col-sm-3">
                <p><img src="/Img/ico_jia.png" /></p>
                <p class="m-t-sm"><input type="checkbox" class="i-checks" name="checkForm" value="2"><span class="m-l-sm  ">个人开户与银行签约服务申请书</span></p>
            </div>

            <div class="col-sm-3">
                <p><img src="/Img/ico_jia.png" /></p>
                <p class="m-t-sm"><input type="checkbox" class="i-checks" name="checkForm" value="3"><span class="m-l-sm  ">特定业务申请书</span></p>
            </div>


            <div class="col-sm-3">
                <p><img src="/Img/ico_jia.png" /></p>
                <p class="m-t-sm"><input type="checkbox" class="i-checks" name="checkForm" value="4"><span class="m-l-sm  ">转账支票</span></p>
            </div>
        </div>


        <div class="row m-t-lg">
            <div class="col-sm-3">
                <p><img src="/Img/ico_jia.png" /></p>
                <p class="m-t-sm"><input type="checkbox" class="i-checks" name="checkForm" value="5"><span class="m-l-sm  ">进账单</span></p>
            </div>

            <div class="col-sm-3">
                <p><img src="/Img/ico_jia.png" /></p>
                <p class="m-t-sm"><input type="checkbox" class="i-checks" name="checkForm" value="6"><span class="m-l-sm  ">个人转账/汇款凭证</span></p>
            </div>

            <div class="col-sm-3">
                <p><img src="/Img/ico_jia.png" /></p>
                <p class="m-t-sm"><input type="checkbox" class="i-checks" name="checkForm" value="7"><span class="m-l-sm  ">撤销银行结算账户申请书</span></p>
            </div>


            <div class="col-sm-3">
                <p><img src="/Img/ico_jia.png" /></p>
                <p class="m-t-sm"><input type="checkbox" class="i-checks" name="checkForm" value="8"><span class="m-l-sm  ">结算业务申请书</span></p>
            </div>
        </div>



        <div class="row m-t-lg">
            <div class="col-sm-3">
                <p><img src="/Img/ico_jia.png" /></p>
                <p class="m-t-sm"><input type="checkbox" class="i-checks" name="checkForm" value="9"><span class="m-l-sm  ">开立单位银行结算账户申请书</span></p>
            </div>

            <div class="col-sm-3">
                <p><img src="/Img/ico_jia.png" /></p>
                <p class="m-t-sm"><input type="checkbox" class="i-checks" name="checkForm" value="10"><span class="m-l-sm  ">空白凭证领用单</span></p>
            </div>

            <div class="col-sm-3">
                <p><img src="/Img/ico_jia.png" /></p>
                <p class="m-t-sm"><input type="checkbox" class="i-checks" name="checkForm" value="11"><span class="m-l-sm  ">现金交款单</span></p>
            </div>

        </div>


        <div class="m-t-lg text-center">
            <button onclick="xuanzedanju();" class="btn  btn_orange">请您填写</button>
        </div>
    </div>
</div>

<!--选择要审核的单据-->
<div id="yaoshenhe" style="display: none;">
    <div class="quhao_map xushenhe">
        <div class="sbyw">
            以下为客户填写单据，请逐个打开审核客户填写内容：
        </div>

        @*<div class="row m-t-lg">
                <div class="col-sm-3">
                    <p onclick="shenhe();">

                        <img src="/Img/ico_jia.png" />
                    </p>
                    <p class="m-t-sm"><span class="m-l-sm  ">一般业务申请书</span></p>
                </div>

                <div class="col-sm-3">
                    <p><img src="/Img/ico_jia.png" /></p>
                    <p class="m-t-sm"><span class="m-l-sm  ">个人开户与银行签约服务申请书</span></p>
                </div>

                <div class="col-sm-3">
                    <p><span class="shtg">已审核</span><img src="/Img/ico_jia.png" /></p>
                    <p class="m-t-sm"><span class="m-l-sm  ">特定业务申请书</span></p>
                </div>


                <div class="col-sm-3">
                    <p><img src="/Img/ico_jia.png" /></p>
                    <p class="m-t-sm"><span class="m-l-sm  ">转账支票</span></p>
                </div>
            </div>*@


        <div class="row m-t-lg">
            @*<div class="col-sm-3">
                    <p><img src="/Img/ico_jia.png" /></p>
                    <p class="m-t-sm"><span class="m-l-sm  ">进账单</span></p>
                </div>*@

            <div class="col-sm-3">
                <p onclick="shenhe();"><span id="yihecha" ></span><img src="/Img/ico_jia.png" /></p>
                <p class="m-t-sm"><span class="m-l-sm  ">个人转账/汇款凭证</span></p>
            </div>

            @*<div class="col-sm-3">
                    <p><img src="/Img/ico_jia.png" /></p>
                    <p class="m-t-sm"><span class="m-l-sm  ">撤销银行结算账户申请书</span></p>
                </div>


                <div class="col-sm-3">
                    <p><img src="/Img/ico_jia.png" /></p>
                    <p class="m-t-sm"><span class="m-l-sm  ">结算业务申请书</span></p>
                </div>*@
        </div>



        @*<div class="row m-t-lg">
                <div class="col-sm-3">
                    <p><img src="/Img/ico_jia.png" /></p>
                    <p class="m-t-sm"><span class="m-l-sm  ">开立单位银行结算账户申请书</span></p>
                </div>

                <div class="col-sm-3">
                    <p><img src="/Img/ico_jia.png" /></p>
                    <p class="m-t-sm"><span class="m-l-sm  ">空白凭证领用单</span></p>
                </div>

                <div class="col-sm-3">
                    <p><img src="/Img/ico_jia.png" /></p>
                    <p class="m-t-sm"><span class="m-l-sm  ">现金交款单</span></p>
                </div>

            </div>*@
    </div>
</div>


<div id="jieguo" style="display: none;">

    <div class="jieguo_map">

        <h2 id="jieguoMessage1">操作不正确，请重新选择</h2>

        <div class="m-t-lg" id="jieguoMessage2">
            已出错
        </div>


        <div class="m-t-lg text-center">
            <button id="jieguoBtn" class="btn  btn_orange">重新选择</button>
        </div>
    </div>

</div>

<!--填单后引导-->
<div id="tiandanhouyindao" style="display: none;">
    <div class="quhao_map">
        <div class="sbyw">
            你办理的是<span id="doBusinessName"></span>业务，请您到以下区域等候办理：
        </div>

        <div>
            <input type="radio" name="denghouqu" value="对公等候区" />对公等候区
            <input type="radio" name="denghouqu" value="零售等候区" />零售等候区
        </div>


        <div class="m-t-sm text-right">
            <button onclick="tiandanhouyindaoEnd();" class="btn btn-sm btn-primary">确定</button>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.2.0.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/layerScene/layer.js"></script>
<!-- 复选框单选框js -->
<script src="~/Scripts/iCheck-new/icheck.min.js"></script>
<script type="text/javascript">
    //radio选中样式
    $(document).ready(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass: 'iradio_flat-blue'
        });
    });

    var divShow = false;
    var withoutMargin = $("#wupin_con").outerWidth();

    var wpnumber = withoutMargin;
    $(function () {
        $("#wupin_btn").click(function () {
            var thisObj = $("#wupinlan");
            if (divShow) {
                thisObj.each(function () {
                    $(this).animate({
                        left: "0"
                    }, 300);
                });
                divShow = false;
            } else {
                thisObj.each(function () {
                    $(this).animate({
                        left: wpnumber
                    }, 300);
                });
                divShow = true;
            }
        });
    });</script>
<script type="text/javascript">
    $(document).ready(function () {

        $(".jindu_btn").click(function () {
            $("#panel").slideToggle("slow");
            $(this).toggleClass("qie");
            return false;
        });
    });







</script>
<script src="~/Js/Student/HallProcess/jindutiao.js"></script>
<script src="~/Js/Student/HallProcess/VideoPlay.js"></script>
<script src="~/Js/Student/HallProcess/FillForm.js"></script>

